[2013-02-14 12:04] remy opened #1 "Trouble building on mac"
In advance - sorry this isn't about this project code, but actually just getting to build - hoping someone will still help.

I'm on a Mac. Used `sudo port install libplist` which works, and I can see various files in `/opt/local/include/plist` including plist.h.

I go through the build instructions for this project, but it fails at the make with:

[code]

Any tips?

Also  - very pleased this proje

[2013-02-14 14:18] andydavies opened #2 "Segmentation fault: 11"
When running  `examples/wdp_client.js` I'm cccasionally seeing Segmentation fault: 11 after Safari has loaded the page.

Not had a chance to dig in at any depth yet.

Test environment is iPad 2 running iOS 6.1

Running on OSX 10.8 build was using the formula @janl provided in https://github.com/google/ios-webkit-debug-proxy/issues/1#issuecomment-13546450

[2013-02-14 14:48] #1 closed, assigned to nobody

[2013-02-14 18:40] janl opened #3 "Tag a release"
homebrew would like a tagged release to point to for installation:

https://github.com/mxcl/homebrew/pull/17839#discussion-diff-3016950

[2013-02-14 19:09] #3 closed, assigned to nobody

[2013-02-17 20:21] klepikov opened #5 "Proxy returns an empty array of tabs for a few seconds after launch"
1. Have Safari running on a tethered iOS device.
2. Launch the proxy with -c <device-id>:9222 (not sure if -c matters).
3. _Quickly_ (as in -- scripted) make requests to http://localhost:9222/json.

A few first requests will return "[]", then it will begin returning a correct list of tabs.

I suspect it's a race between the HTTP requests and the proxy's handshake with the device.

Could the proxy

[2013-03-20 20:23] adamv opened #6 "Ship 1.1 with Clang fix"
It would be helpful for Homebrew ( https://github.com/mxcl/homebrew/pull/17839 ) to have a 1.1 version tagged that includes the clang fix. (In the meanwhile we can carry the patch for that commit.)

[2013-03-30 04:22] ottonascarella opened #9 "Problems building on Linux Ubuntu 12.04"
Hi there,

been having problems with the build on my machine.
firstly, I needed to install libimobiledevice-dev, which is not on your instructions and is needed.

now it's giving me the following error:
/usr/include/libimobiledevice/installation_proxy.h:31:18: fatal error: glib.h: No such file or directory

any help, please?

cheers in advance

[2013-04-02 08:09] peol opened #10 "Segmentation fault when using libimobiledevice 1.1.5"
Hi,

as discussed in #2, I'm reporting this issue as a separate one. The build was successful but when attaching my iPhone 5, ios-webkit-debug-proxy crashes with a segfault.

This is using OSX 10.8.3 and building manually from master (not the brew formula - that also fails though).

Downgrading to libimobiledevice to 1.1.4 "fixes" it.

[2013-04-25 08:28] snevesbarros opened #11 "Remote.evaluate request with large expression (e.g. 7500 characters or more) is causing a web socket disconnect"
When attempting to send a large javascript expression I noticed that I keep getting disconnected.

This works fine:
{"id": 1, "method": "Runtime.evaluate", "params": {"expression": " document.title", "objectGroup": "console", "returnByValue": true }}

This works fine:
{"id": 1, "method": "Runtime.evaluate", "params": {"expression": "(function(name){console.info('printed: ' + name)})('small number

[2013-05-07 14:52] #11 closed, assigned to nobody

[2013-05-08 15:43] umaar opened #12 "Use an updated version of DevTools"
Is it possible to use an updated version of DevTools, the one contained within [Blink](https://chromium.googlesource.com/chromium/blink.git) (Source/devtools) for example? Currently, inspecting a page at `http://localhost:9222/devtools/devtools.html?host=localhost:9222&page=1` using ios-webkit-debug-proxy presents a much older version of the Developer Tools.

[2013-05-10 16:20] snevesbarros opened #13 "Brew install for latest version of proxy"
Please create a tag so that we can use brew to install the latest version of the proxy (including the 8k size fix).

Thanks,

Sergio

[2013-05-10 18:10] #13 closed, assigned to nobody

[2013-05-10 18:19] matthewmueller opened #14 "Invalid message _rpc_applicationSendData"
Tried getting remote debugging working on my iphone 4. Running into this error:

[code]

Any ideas?

[2013-05-14 14:01] snevesbarros opened #15 "Proxy unable to handle multiple consecutive requests"
We are are making multiple requests and finding that the proxy isn't always able to handle them accordingly. We dont received a response and the web socket connection is closed.

When running the proxy in debug mode we do see the response coming back from the device (webInspector protocol) however this is never returned by the proxy to us.

If you would like to see this in action please find a tes

[2013-05-23 18:34] #15 closed, assigned to nobody

[2013-06-03 08:44] snevesbarros opened #16 "Chrome iOS remote debugging?"
It seems that the web views for the Chrome browser do not show up on the proxy.

Does the chrome browser on iOS support remote debugging and if so does it require the web inspector protocol or the webkit protocol?

Would it be possible to make these web view(s) available to the proxy as well?

Thanks,

Sergio

[2013-06-03 15:19] #16 closed, assigned to nobody

[2013-06-03 19:37] mkarlovich opened #18 "Can't connect get select_port() failed Could not connect to lockdownd errors"
I can't connect, I get this error running the following command.  iPhone 5 connected with web inspector turned on.

select_port() failed
Unable to create registry
ss.add_fd(3)
ss.recv fd=3 len=294
ss.recv fd=3 len=684
ss.add_server_fd(4)
Could not connect to lockdownd. Exiting.: Undefined error: 0
ss.remove_server_fd(4)
Unable to attach d5e07800839a0bc3dddc8d07ef931e9f878c3fc9 inspector

[2013-06-05 04:10] unbug opened #19 "send failed: Socket is not connected"
Dont know whether this proxy will go to google's server or not,the debug of Chrome for android is blocked by GWF in China,and now this proxy give me "send failed: Socket is not connected" when I click a page to debug,I can view the device list and see the pages,but can not debug it,if the proxy go to google's server,then it's blocked by GWF too ;(

[2013-06-05 16:26] zwri opened #20 "Updated DevTools UI can't inspect element styles"
As noted by Umar (https://github.com/google/ios-webkit-debug-proxy/issues/12#issuecomment-18873188) and unbug (https://github.com/google/ios-webkit-debug-proxy/issues/19#issuecomment-18956398 ):

If you use "-f" to load a recent WebKit frontend inspector, e.g.:
  http://chrome-devtools-frontend.appspot.com/static/27.0.1453.93/devtools.html
the DevTools UI can't inspect element styles.

Safari's in

[2013-06-05 16:28] #19 closed, assigned to nobody

[2013-06-05 16:30] #14 closed, assigned to nobody

[2013-06-05 16:30] #6 closed, assigned to nobody

[2013-06-05 16:33] #12 closed, assigned to nobody

[2013-06-07 08:25] mzahor opened #21 "Can't build on Ubuntu 13.10 x64"
skilex@tinyaspire:~/dev/ios-webkit-debug-proxy$ make
make  all-recursive
make[1]: Entering directory `/home/skilex/dev/ios-webkit-debug-proxy'
Making all in src
make[2]: Entering directory`/home/skilex/dev/ios-webkit-debug-proxy/src'
gcc -DHAVE_CONFIG_H -I. -I..  -I../include     -g -O2 -MT ios_webkit_debug_proxy_main.o -MD -MP -MF .deps/ios_webkit_debug_proxy_main.Tpo -c -o ios_webkit_debug_proxy

[2013-06-07 15:09] #21 closed, assigned to nobody

[2013-06-07 19:54] mzahor opened #22 "Compilation error - unknown type "lockdown_service_descriptor_t""
Still experiencing problems with compilation. All necessary libraries are installed.

skilex@tinyaspire:~/dev/ios-webkit-debug-proxy$ make
make  all-recursive
make[1]: Entering directory `/home/skilex/dev/ios-webkit-debug-proxy'
Making all in src
make[2]: Entering directory`/home/skilex/dev/ios-webkit-debug-proxy/src'
gcc -DHAVE_CONFIG_H -I. -I..  -I../include     -g -O2 -MT webinspector.o -MD -MP

[2013-06-08 01:10] winsonwq opened #23 "where is the brew fomular?"
Cannot install through `brew install ios-webkit-debug-proxy`

[2013-06-10 09:09] #22 closed, assigned to nobody

[2013-06-10 18:23] matthewmueller opened #24 "ios_webkit_debug_proxy(44182) malloc: *** error for object 0x7fc37ac0b250"
Hi there,

The following error happens as I'm running the `ios_webkit_debug_proxy` for a little while on:

[code]

The error is the following:

[code]

And the debugging window says the following:

[code]

[2013-06-12 16:28] #23 closed, assigned to nobody

[2013-06-13 00:00] ticky opened #25 "Device and page selection assumes localhost address"
I'm running ios-webkit-debug-proxy in an Ubuntu VM so I can use it on Windows, and I've found that the web UI assumes that the pages will always be served from `localhost`.

It should be using the current request's hostname/IP address instead (it works fine if you edit the address yourself, but it's a pain when working with multiple tabs).

[2013-06-13 00:04] ticky opened #26 "Server responses specify ISO-8859-1 character set when response is UTF-8"
My iPhone's name has a `’` (`RIGHT SINGLE QUOTATION MARK` / `&rsquo;`) character in it.

In the debug proxy, this appears as `â€™`. It appears to be sending UTF-8 output, but the server is misrepresenting it as ISO-8859-1.

[2013-06-13 02:28] ticky opened #28 "Segmentation fault if an action is taken from the developer tools while device is locked"
The program immediately segfaults if you do the following process;
1. Connect device, start `ios_webkit_debug_proxy`
2. Open debugger to an open page
3. Lock the device or allow it to lock automatically
4. Attempt to use the debugger

Running on Ubuntu 13.04 with libplist 1.10, libusbmuxd 1.0.8 and libimobiledevice 1.1.5.

I get the impression from the readme that `ios_webkit_debug_proxy` should b

[2013-06-13 04:32] ticky opened #29 "WebSocket frame length too large when requesting cached items"
When requesting network responses which do not have a content-length, such as network responses returned from cache, the WebSocket response gives a ridiculous content-length (in this case, nearly a Petabyte - but it varies).

[code]

As I can't see any code wherein `ios-webkit-debug-proxy` reads response headers, I can only presume that this is an issue with Safari's inspector WebSocket implementa

[2013-06-19 22:57] matthewmueller opened #30 "iOS simulator compatibility"
It'd be nice if we could use chrome dev tools to test with the iOS simulator. It will be faster and more robust (less websocket disconnects)

[2013-06-20 00:09] #30 closed, assigned to nobody

[2013-06-24 16:25] andydavies opened #31 "What determines whether a device is inspectable?"
I've got an iPad, iPhone and simulator (all iOS) hooked up to the proxy.

I can inspect Safari on the iPad and simulator but although the iPhone is listed by the proxy there is no link to inspect it.

Any ideas why this would happen?

(I'm assuming it may not actually be a proxy issue and the device doesn't show up at all in desktop Safari, so trying to debug that at the moment)

[2013-06-24 17:33] #31 closed, assigned to nobody

[2013-07-18 19:55] dehuszar opened #32 "Can't build on Ubuntu 13.04"
I just attempted to build ios-webkit-debug-proxy on Ubuntu 13.04, but got the following errors when running 'make':

make  all-recursive
make[1]: Entering directory `/home/kaplan/repos/ios-webkit-debug-proxy'
Making all in src
make[2]: Entering directory`/home/kaplan/repos/ios-webkit-debug-proxy/src'
gcc -DHAVE_CONFIG_H -I. -I..  -I../include     -g -O2 -MT webinspector.o -MD -MP -MF .deps/webinsp

[2013-07-26 08:16] agektmr opened #33 "Not on brew repository"
I tried to give it a try by `brew install ios-webkit-debug-proxy` but got `Error: No available formula for ios-webkit-debug-proxy`. Is it removed?

[2013-08-13 07:57] bucktaiwan opened #34 "dl_client could not reattach idevice"
I have built ios-webkit-debug-proxy and try to run dl_client to see on_attach and on_detach iphone 3Gs. After I plug in the usb cable and run dl_client, I see on_attach together with its device id and number. Same thing for on_detach. Then, I want to see how it reattach idevice. So, I unplug the usb cable and  re-plug in. But, dl_client does nothing. How could I reattach idevice and see dl_client

[2013-08-14 04:29] bucktaiwan opened #35 "Cannot find module 'expect.js'"
make test under ios-webkit-debug-proxy-1.3/examples/node_modules/ws/

and it comes out error: could not find expect.js

snapshot is as follows:

jimmykao@beckie-Aspire-M3400:~/work/ios-webkit-debug-proxy-1.3/examples/node_modules/ws$ ls
bench  binding.gyp     doc       History.md  lib                    Makefile      package.json  src
bin    builderror.log  examples  index.js    libpeerconnection.

[2013-08-22 13:04] narrowtux opened #36 "Getting invalid packet on Ubuntu 13.04 (raring)"
This is the error message from the console:

[code]

Steps to reproduce:
- Attached iPhone 5, iOS version 6.1 (10B143)
- Started usbmuxd
- Started ios_webkit_debug_proxy
- Went to device list, clicked on my iPhone, clicked on the page that was open
- Result: debugger shows up but shows no content, error shows up in console

Operating system: Ubuntu 13.04, reverted commit to make it compile (issue

[2013-08-23 21:20] #35 closed, assigned to nobody

[2013-09-19 17:52] NV opened #37 "Installation instruction for Mac OS X 10.9 Mavericks?"
`brew install ios-webkit-debug-proxy` fails to install `cmake`.

`brew doctor` tells me:

Can someone explain step-by-step how to install all necessary dependencies manually to build the project from the source?

[2013-09-21 03:04] christianboyle opened #38 "Proxy unable to connect to iOS7 lockdownd"
![screen shot 2013-09-20 at 9 57 24 pm](https://f.cloud.github.com/assets/1605754/1184932/9d9600ba-2269-11e3-82f2-00b7ca3f5003.png)

This is what I see when I run the proxy. Everything is fully updated (Xcode 5, etc.).

![screen shot 2013-09-20 at 10 00 35 pm](https://f.cloud.github.com/assets/1605754/1184935/149b9102-226a-11e3-8cb6-9e6483573bee.png)

This is what I see when I go to to http://loca

[2013-09-23 04:18] machty opened #39 "Problems with RequestAnimationFrame"
I don't know how best to describe this issue, but it seems that there's a mismatch in the expected name of requestAnimationFrame events which breaks the timeline.

I was able to "fix" this problem by overwriting some WebkitInspector code; see the `// BEGIN` comments

[code]

[2013-10-08 15:29] #33 closed, assigned to nobody

[2013-11-07 00:33] mping opened #40 "segmentation fault starting up"
I'm hitting a segfault on the following line: https://github.com/google/ios-webkit-debug-proxy/blob/master/src/webinspector.c#L149.

Core file's here: https://dl.dropboxusercontent.com/u/947497/core

[2013-11-11 15:46] bluesmoon opened #41 "RFE: Persist console log across pages"
While we currently have the ability to persist network request tracking across pages:
![bottom toolbar network panel](https://f.cloud.github.com/assets/35098/1513789/454169fc-4ae8-11e3-809d-dde123e00cf9.png)

There does not appear to be a way to do the same for the console log:
![bottom toolbar console panel](https://f.cloud.github.com/assets/35098/1513794/53ba935a-4ae8-11e3-846c-45ebd7a22c62.png)

[2013-11-20 02:18] ghost opened #42 "7.0.4"
element -> style box go empty

[2013-11-27 03:09] bucktaiwan opened #43 "example/wi_script.c is not working for ios 7.0.2"
wi_script.c used to work well in ios 6

In ios 7, it seems not get triggered event from wi_recv_applicationConnected() of webinspector.c

It would be nice to see update on this.

[2013-12-06 18:14] brouxhaha opened #44 "Chrome cannot connect - everything else looks fine"
I've got all the necessary items installed for this to work. I get no errors anywhere, except when I actually try to go to port 9221. I get a "Google Chrome could not connect to localhost:9221" error. Here's an image of my console, the ios simulator, and my web browser: http://i.imgur.com/QawXsBN.png.

I've tried looking around, but I can't find anything. Can anyone figure out what might be wrong?

[2013-12-17 10:06] pbruining opened #45 "Segfault while starting up"
During the startup of the proxy it segfaults. I attached the debug output.
The host system is Ubuntu 13.10. If more information is needed, please mail me.
The idevice is an iPad mini retina with iOS 7.0.4 running.

<pre><code>pieter@Ares:~/Code/ios-webkit-debug-proxy$ idevice_id -l
794815b****
pieter@Ares:~/Code/ios-webkit-debug-proxy$ ios_webkit_debug_proxy -d
ss.add_server_fd(3)
ss.add_fd(4)
ss.

[2013-12-23 21:32] codedependant opened #46 "aclocal: file '/usr/local/share/aclocal/lt~obsolete.m4' does not exist"
Has anyone else experienced this issue? Not sure if its related to ios-webkit-debug-proxy or not.

I'm trying to install it on Mac OSX 10.9

[code]

[2014-01-07 14:46] ankit-mnnit opened #47 "running make gives invalid type argument and unknown type name error"
Hi,

I have corrected the include paths for glib-2.0 from /usr/include and /usr/lib/i386-linux-gnu/glib-2.0/include/

make logs:

make  all-recursive
make[1]: Entering directory `/home/ankitgarg/git/ios-webkit-debug-proxy'
Making all in src
make[2]: Entering directory`/home/ankitgarg/git/ios-webkit-debug-proxy/src'
gcc -DHAVE_CONFIG_H -I. -I..  -I../include     -g -O0 -I/usr/include/glib-2.0/ -I/u

[2014-01-08 12:14] seansay opened #49 "can't inpsect pages"
I'm using os x 10.9, after `brew install ios_webkit_debug_proxy`

I can list my devices on port 9221
but can't open inspect page on my ipad

[code]

But port 9222 fail to load `Oops! Google Chrome could not connect to localhost:9222`

[2014-01-27 17:11] datoda opened #50 "Can't inspect pages on simulator"
Hi,

[code]
1. I installed ios-webkit-debug-proxy using brew without problem on my Mac.
2. I have xcode insalled. I can start simulator without any issue.

Here's what I did:
1. Start simulator. Pick iPhone Retina with iOS 6.
2. Make sure that in the simulator, Safari's Advanced setting has Web Inspector "on".
3. Start Safari in the simulator, and navigate to google.com.
3. Start "ios-webkit-debug

[2014-02-04 16:32] #47 closed, assigned to nobody

[2014-02-26 21:25] earlyster opened #52 "Can't use chrome dev tools profiler with ios-webkitdebug-proxy"
I was not able to get chrome dev tools profiler working when using Ipad device or using simulator. I couldn't find any issue related to profiler working or not working. Just want to make sure that this feature is not supposed to work since the safari debug tools don't have a profiler.

When I use profiler I see blank screen and see JS error:

Request with id = 23 failed. Method not found(-32601):

[2014-03-27 10:59] SamHasler opened #53 "Windows Port"
The Readme says "Windows support is planned but not implemented yet."

I couldn't find an issue for it so I've created this one to track it.

In the mean-time I'm using https://github.com/artygus/ios-webkit-debug-proxy-win32

[2014-04-11 15:48] #36 closed, assigned to nobody

[2014-04-14 21:45] programmin1 opened #54 "Libimobile working, ios-webkit-debug not doing anything - on 7.1 device."
I updated my libimobiledevice by compiling it earlier, now I'm able to see and view files from the iPad 7.1, but when I run libimobiledevice, it returns with no error message.

strace ios_webkit_debug_proxy gives:
--- SIGPIPE {si_signo=SIGPIPE, si_code=SI_USER, si_pid=23054, si_uid=1000} ---
+++ killed by SIGPIPE +++

[2014-04-14 22:21] programmin1 opened #55 "Latest master branch won't compile"
I just pulled, ran auto, config, and make steps, make gives errors including:

[code]

[2014-05-07 02:55] bucktaiwan opened #56 "wi_script example has memory leak problem"
I have adopt wi_script example into my project, and find out problem of possible memory leak. So, I go back to check original example, it also approves my guess.

I use valgrind together with wi_script. Result is as followings:

ios-webkit-debug-proxy/examples$ valgrind --leak-check=full ./wi_script

==17662== Memcheck, a memory error detector
==17662== Copyright (C) 2002-2013, and GNU GPL'd, by J

[2014-05-07 17:18] luco opened #57 "Can't Edit Styles"
Actually I can't edit styles in the default address provided:
http://chrome-devtools-frontend.appspot.com/static/18.0.1025.74/devtools.html

I already tried the -f option using some url's provided here as:
http://chrome-devtools-frontend.appspot.com/static/27.0.1453.93/devtools.html

But I doesn't seems to work. Any tips?

[2014-05-25 22:10] digitalica opened #58 "Can't build on Ubuntu 14.04"
following the instructions on frontpage here, i got errors running make:

ios_webkit_debug_proxy.c:1724:15: error: ignoring return value of ‘asprintf’, declared with attribute warn_unused_result [-Werror=unused-result]
       asprintf(&s,
               ^
ios_webkit_debug_proxy.c:1743:13: error: ignoring return value of ‘asprintf’, declared with attribute warn_unused_result [-Werror=unused-result]

[2014-06-06 13:41] anshumanchatterji opened #59 "Invalid idevice_connection struct? Unable to attach <UDID> inspector"
Hi Team,

I am seeing this error as soon as i connect my iPad.

<code>
Invalid idevice_connection struct?: Undefined error: 0
Unable to get connection file descriptor.: Undefined error: 0
ss.remove_server_fd(5)
Unable to attach c70fbb163gd3edee9bf781e0052d24a1111bb56e inspector
</code>

What I did:
<code>
brew install ios_webkit_debug_proxy
brew update
brew doctor
</code>

Then i corrected all the

[2014-06-19 23:08] mikeatlas opened #61 "Could not start com.apple.webinspector"
I ran:

`$brew install ios-webkit-debug-proxy`
`/usr/local/Cellar/ios-webkit-debug-proxy/1.3: 15 files, 164K, built in 16 seconds`

Then I ran:

`$ios_webkit_debug_proxy`
`Could not start com.apple.webinspector!: Undefined error: 0`
`Unable to attach 52cd3d70d9800959254b37468560c770fe2a181a inspector`

My software versions:
XCode 5.1.1 (5B1008)
OS X 10.9.3
Safari 7.0.4 (9537.76.4) (on my computer)

[2014-06-20 20:16] #55 closed, assigned to nobody

[2014-06-20 20:17] #58 closed, assigned to nobody

[2014-06-22 19:40] #61 closed, assigned to nobody

[2014-06-23 14:46] AdrianDroid opened #62 "can compile in ubuntu 14.04, but no device show in :9221"
i can finally compile in 14.04 .
but yet get it working.
ios 7.1.1

[2014-07-09 15:58] AdaRoseEdwards opened #63 "Pausing javascript execution crashes Safari and the debug proxy."
If the javascript execution stops, via the pause button, pause on exceptions or on debugger; safari crashes and the debugger proxy segfaults.

Ubuntu 14.04.

Encountered on both ios 6 and ios 7

[2014-07-23 23:01] usharj opened #64 "Unable to run make install"
brew install ios-webkit-debug-proxy
==> Downloading https://github.com/google/ios-webkit-debug-proxy/archive/1.3.tar.gz
Already downloaded: /Library/Caches/Homebrew/ios-webkit-debug-proxy-1.3.tar.gz
==> ./autogen.sh
==> ./configure --prefix=/usr/local/Cellar/ios-webkit-debug-proxy/1.3
==> make install
      _wi_args_to_xml in webinspector.o
ld: symbol(s) not found for architecture x86_64
clang: er

[2014-07-29 14:31] #62 closed, assigned to nobody

[2014-08-03 06:14] dwilkie opened #65 "plist_copy_node: Assertion `data' failed. When running on ubuntu 14.04"
I upgraded my libplist to as described here: https://github.com/google/ios-webkit-debug-proxy/issues/62 but now I get the following error.

[code]

[2014-08-04 11:49] stevenmc opened #66 "Unable to run on Ubuntu 14.04"
ios_webkit_debug_proxyListing devices on :9221
Detected an old copy of libplist?!  For a fix, see:
https://github.com/libimobiledevice/libimobiledevice/issues/68#issuecomment-38994545: Success
Unable to start device_listener

I'm running libplist-dev 1.10.1 amd64 as this appears to be the latest download available.

I've looked through the suggested url, but it doesn't actually suggest a fix in th

[2014-08-04 14:03] JeffHoover opened #67 "ios_webkit_debug_proxy -c <udid>:27753 -d gives select_port() failed"
Actually, when I specify any port number, I get 'select_port() failed'

Versions:
MacOS 10.9.4
ios-webkit-debug-proxy 1.3
libimobiledevice 1.1.5 (already downgraded from 1.1.6 as other threads suggest)

[2014-08-05 15:09] RobinQu opened #68 "Invalid idevice_connection"
On MacOS 10.9.4, installed via brew, iPad with iOS 7

[code]

[2014-08-18 13:11] tconn opened #69 "Invalid packet header 0x0ffffffaeffffff99ffffffba == .... == 11442618"
When launching the inspector for a particular target, the debugger is then terminated. Running on Mac OSX targeting an IOS simulator, app is running in Safari.

[2014-08-19 07:53] #68 closed, assigned to nobody

[2014-08-21 15:41] danilomelo opened #70 "Can't accesss remote debugging"
I can't load devtools from remote server why it toggle the protocol from http to https when load the page

user$ ios_webkit_debug_proxy -f http://chrome-devtools-frontend.appspot.com/static/33.0.1722.0/devtools.html

log from console page:
[blocked] The page at 'https://chrome-devtools-frontend.appspot.com/static/33.0.1722.0/devtools.html?host=localhost:9222&page=1' was loaded over HTTPS, but ran

[2014-09-01 10:20] marekkalnik opened #71 "[ubuntu] idevice_id not found"
Hi,

On Ubuntu 14.04 the idevice_id executable is part of the `libimobiledevice-utils` package. I think it is worth mentionning in the README.

[2014-09-11 21:47] appsforartists opened #72 "Not working with iOS 8.0 or 7.1.1 from Mac 10.9.2"
I just tried installing for the first time using `brew install ios-webkit-debug-proxy`.  It looks like it worked fine, but I can't get either of my test devices (iPhone 5 on iOS 8 or iPad mini /w Retina on iOS 7.1.1) to connect.  Here's a log:

[code]

If I go to `localhost:9221`, I see this:

[code]

Here's the install log:

[code]

My corporate laptop is a MacBook Pro /w Retina running 10.9.2.

[2014-09-16 06:42] gapipro opened #73 "Device disconnected when leaving Safari"
For example when you are connected to device and you click on Install Certificate on web page users leaves Safari and Certificate dialog is shown. At that time device gets disconnected form proxy and even after Certificate install is done and user is redirected back to Safari device doesn't show up again until you disconnect and reconnect usb cable.

Can't there be some detection when device is sw

[2014-09-19 21:24] danilomelo opened #74 "IOS 8 - Issue inpector on Ubuntu 14.04"
On ubuntu 14.04

Could not start com.apple.webinspector!: No such file or directory
ss.remove_server_fd(5)
Unable to attach a607dedbabb464c43ebde5db9cdc225449ed4cfd inspector

The inspector on Iphone is enabled.

[2014-10-01 16:37] gruzilla opened #75 "detects old copy of libplist when 1.10 is actually there"
not sure if i should post here or on https://github.com/libimobiledevice/libimobiledevice

issue:
when executing the debug-proxy, it crashes complaining an old version of libplist was in use, but i have only the required version installed?

setup: xubuntu 14.04, on kernel 3.13.0-36-generic
- libplist 1.10
- libusbmuxd 1.0.8
- libimobiledevice 4.0.1

behaviour:

starting usbmuxd - works
listing dev

[2014-10-01 16:39] #75 closed, assigned to nobody

[2014-10-06 10:53] emilanova opened #76 "In file included from ios_webkit_debug_proxy_main.c:23: ../include/webinspector.h:15:10: fatal error: 'plist/plist.h' file not found"
Hello,

I am running on my Macbook Pro the following commands:

and the result of the "make" command is the following:

ios-webkit-debug-proxy-1.4 my_user$ make
/Applications/Xcode.app/Contents/Developer/usr/bin/make  all-recursive
Making all in src
gcc -DHAVE_CONFIG_H -I. -I..  -I../include     -g -O2 -Wall -Werror -MT ios_webkit_debug_proxy_main.o -MD -MP -MF .deps/ios_webkit_debug_proxy_main.Tp

[2014-10-07 22:32] djoubran opened #77 "Segmentation Fault: 11"
I am experiencing an issue when attempting to run my selenium tests on a physical device using the ios-webkit-debug-proxy and Appium. Whenever my tests throw an exception, either from a failed assertion or an uncaught exception, my ios-debug-proxy throws the following error:

Segmentation Fault: 11

I'm using libimobiledevice 1.1.6, but I attempted to downgrade to 1.1.4 as I saw a similar issue in

[2014-10-13 15:44] #77 closed, assigned to nobody

[2014-10-20 06:33] gapipro opened #78 "Not working with latest Chrome DevTools 38.0.2125.104"
When I visit chrome-devtools://devtools/bundled/devtools.html?host=localhost:9222&page=1 I get empty DevTools with no content under any panel.

If I run DevTools on DevTools I can see that there was an error when loading

     Uncaught TypeError: Cannot read property 'frame' of undefined Main.js:4146

Can this be fixed?

[2014-10-31 13:44] vamsys opened #79 "ios webkit debug proxy disconnects from safari on ios 8.1 physical device with error"
Running selenium tests on an ipad with ios 8.1

config as below:

ios 8.1
appium 1.2.3
ios webkit debug proxy 1.4
xcode 6,1

safari launcher is launched successfully, browsers open and then ios_webkit_debug_proxy disconnects from browser with error as below:
#################################################################################
Invalid message _rpc_applicationUpdated: <dict>
	<key>WIRAp

[2014-11-04 22:04] shamnik2002 opened #80 "facing issue with install"
Facing an issue when installing ios-webkit-debug-proxy

Can't locate Automake/Config.pm in @INC (you may need to install the Automake::Config module (@INC contains: @@HOMEBREW_CELLAR@@/automake/1.14.1/share/automake-1.14 /Users/snikam12/perl5/perlbrew/perls/perl-5.16.0/ /Users/snikam12/perl5/perlbrew/perls/perl-5.18.0/ /Users/snikam12/perl5/perlbrew/perls/perl-5.18.0/ /Library/Perl/5.18/darwin-thr

[2014-11-05 15:09] #80 closed, assigned to nobody

[2014-11-09 03:10] SidBala opened #81 "JSON interface doesn't return valid JSON Object when page title has quotations in it. Not escaping properly"
One example is:

The Response Body is:[{
"devtoolsFrontendUrl": "/devtools/devtools.html?host=localhost:1142&page=1",
"faviconUrl": "",
"thumbnailUrl": "/thumb/http://sfbay.craigslist.org/search/ppa?query=air+conditioner+%7C+a%2Fc",
"title": "SF bay area appliances "air conditioner | a/c" - craigslist",
"url": "http://sfbay.craigslist.org/search/ppa?query=air+conditioner+%7C+a%2Fc",
"webSocketDebu

[2014-11-10 13:57] octoxan opened #82 "Doesn't support iOS 8.1 on Ubuntu 14.10"
Gives the error
could not start com.apple.webinspector! success
unable to attach _________ inspector

[2014-11-20 08:24] scnymc opened #84 "Got error "error: [REMOTE] Could not connect to WebKitRemoteDebugger server""
I want to test safari on real device (ipad), below are my configurations:
1. Mac os: 10.10;  xCode: 6.1
2. Appium 1.3.1 (install using npm)
3. SafariLauncher, I got the source from github and sign it with my developer signature, and has installed to my iPad
4.  iOS-webkit-debug-proxy, I have installed it using brew command, and run it using command "iOS_webkit_debug_proxy" (i'm not sure whether th

[2014-11-20 08:28] #84 closed, assigned to nobody

[2014-12-21 15:32] tralpha opened #86 "Everything works fine, but the Dev Tools Page is empty and doesn't contain Safari Information"
I'm using an iPhone 5s with a Safari browser, together with a Mac 10.10.1.

I could install the ios webkit debug proxy and get it working. It can detect my phone and everything, but however when I copy the link of the available website for debugging into a new Chrome page and try debugging, I simply get a blank DevTools page, and I can't find and manipulate the DOM from the Safari browser on my iP

[2015-01-06 12:05] snevesbarros commented on #79
@jchuong I believe this can be solved by changing the proxy to just forward the Web Inspector messages it receives rather than trying to translate from webkit protocol and web-inspector protocol.

E.g. just have it accept web inspector messages and forward them to the device and vice versa. We specifically changed appium to use the webkit protocol, but should be able to reverse that if the proxy a

[2015-01-06 14:41] schickling commented on #86
+1

[2015-01-06 18:00] jchuong commented on #79
@snevesbarros I am using my changes for basic mobile Safari testing and it holds up pretty well.  Since I'm not doing any other mobile apps I can't tell if that is an issue or not.

As for forwarding messages, while I don't really know the inner workings of i-w-d-p, then it would probably be better to change Appium to connect to [usbmuxd](https://github.com/libimobiledevice/usbmuxd) rather than ch

[2015-01-07 18:11] montoya-azul commented on #86
Same here :(

[2015-01-07 18:34] montogeek commented on #57
Use http://chrome-devtools-frontend.appspot.com/static/27.0.1453.93/devtools.html :)

[2015-01-07 18:34] montogeek commented on #86
Use http://chrome-devtools-frontend.appspot.com/static/27.0.1453.93/devtools.html

[2015-01-10 07:22] jfrumar commented on #86
That's still not working for me :(

[2015-01-15 01:10] seanwash commented on #86
I'm getting the same blank page by using chrome-devtools://devtools/bundled/devtools.html. Looks like the proxy sees the ios simulator fine, but the inspector is blank.

[2015-01-15 16:16] TeddyRux commented on #86
:+1:

[2015-01-16 17:36] hcentelles commented on #86
:+1:

[2015-01-21 00:46] confile commented on #86
+1 I have to same problem as @tralpha I always get an empty page in the chrome dev tools. Also with @montogeek  http://chrome-devtools-frontend.appspot.com/static/27.0.1453.93/devtools.html it does not connect.

Is there something else to do?

[2015-01-21 00:54] confile commented on #78
Does not work with OSX Chrome Version 38.0.2125.111

[2015-01-21 01:02] steffimueller commented on #86
I have the same problem. Could not connect.

[2015-01-21 01:03] steffimueller commented on #86
@montogeek Are you able to connect to your device?

[2015-01-21 01:05] kevin1024 commented on #78
Yeah, I keep a separate install of Chrome 37 around just so I can use this tool.

[2015-01-21 01:06] confile commented on #78
@kevin1024  Could you please post a link to Chrome 37?

[2015-01-21 01:11] kevin1024 commented on #78
@confile sure, I use Archlinux so I find old packages in the Arch Rollback Machine.  Here's a [direct link to an old chromium package](http://seblu.net/a/arm/2014/09/10/extra/os/x86_64/chromium-37.0.2062.94-1-x86_64.pkg.tar.xz).  I don't know what distro you use but they might have a similar service.

[2015-01-21 01:11] confile commented on #78
@kevin1024 I use mac so I need a mac version. Do you have one too?

[2015-01-21 01:21] kevin1024 commented on #78
@confile Sorry I don't use Mac for this but if you're on Mac you can use the [official IOS Safari Remote Debugger](http://moduscreate.com/enable-remote-web-inspector-in-ios-6/)

[2015-01-21 01:22] confile commented on #78
This does not help because I want to develop with the dev tool.

[2015-01-21 06:28] montogeek commented on #86
Yes, I was able.

[2015-01-21 09:21] cades commented on #79
same problem +1

[2015-01-21 10:51] cades commented on #72
Exactly the same problem as @maizaAvaro
happens on iPhone 6 and iPad

[2015-01-21 13:58] confile commented on #72
I think it depends on the version of Chrome it work with version 36 for me.

[2015-01-21 13:59] confile commented on #86
@wrightt Is google working on a fix for this issue?

[2015-01-21 18:05] jchuong commented on #79
@cades Please try my fork and see if it solves your problem, seems to work for snevebarros now
https://github.com/jchuong/ios-webkit-debug-proxy

[2015-01-22 18:37] mandx commented on #86
Same here, after compiling and running it on Ubuntu 14.04. (installing instructions from [this thread](https://github.com/google/ios-webkit-debug-proxy/issues/66#issuecomment-53903278)) Latest Chrome stable from Google's repos shows the inspector blank (there isn't even a `window` global in the console) and no errors at all. Tried with Firefox's Valence/WebIDE and it also shows no error, but the c

[2015-01-24 10:26] mikejoyceio commented on #86
Having the same issue as the OP.

[2015-01-26 13:51] Joyge commented on #79
@jchuong Could you please provide information on how to build and install your forked branch on MacBook? I have downloaded the zip file from https://github.com/jchuong/ios-webkit-debug-proxy. But when I run "brew install ios-webkit-debug-proxy", it seems to download again from another site.

[2015-01-26 15:24] horsson commented on #86
same issue here.

[2015-01-26 16:26] jchuong commented on #79
@Joyge I'm not sure if you got the 1.4 zip or if it contains the source code but brew the dependencies:
libplist
libusbmuxd
libimobiledevice

You might need autoconf and automake too.

Clone the repository:  `git clone https://github.com/jchuong/ios-webkit-debug-proxy.git`
and go into the the new directory created.
[code]

[2015-01-27 16:46] richardkeen commented on #78
I worked around this by download Chromium 37 for Mac from here: http://sourceforge.net/projects/osxportableapps/files/Chromium/

[2015-01-27 16:47] richardkeen commented on #86
I worked around this by downloading Chromium 37 for Mac from here: http://sourceforge.net/projects/osxportableapps/files/Chromium/

[2015-01-27 20:46] osuka commented on #86
can confirm this works with latest Chrome (40) and Safari w/ iOS 8.1 if launched like:
[code]
Works fine but it's crazy slow. Still, miles better than debugging via remote Safari.

[2015-01-27 20:48] montogeek commented on #86
Thanks!

[2015-01-28 16:28] mcmilwj commented on #86
Worked for me @osuka .. thanks!

[2015-01-29 22:10] mandx commented on #86
@osuka I can confirm it works with that frontend on Ubuntu 14.04, and also sluggish slow.

[2015-01-30 13:57] pmeenan commented on #86
It's a newer version than from Chrome 27 but WebPagetest has an embedded
version of the timeline code as well.  If you access the github version
through the rawgit CDN interface (MaxCDN) it should be a lot faster than
the appspot URL:
https://cdn.rawgit.com/WPO-Foundation/webpagetest/WebPageTest-2.16/www/chrome/inspector-20140603/devtools.html

If that doesn't work I can see about putting an older

[2015-02-03 16:08] goldylucks opened #88 "Can't access ./autogen.sh after install"
I'm on ubuntu 13.10.
After installing the dependencies, I'm trying to run ./autogen.sh but I get "commmand not found"

[2015-02-03 20:57] jfrumar commented on #86
When I load up http://localhost:9222/ and then click the link for my connected device, I got:

404. That's an error.

The requested URL /devtools/devtools.html?host=localhost:9222&page=1 was not found. Invalid frontend URL?

[2015-02-04 08:39] emilanova commented on #76
Hi all,

Obviously, this will not work with the commands above which are also official steps in the project README. If you want you can use "brew install ios-webkit-debug-proxy". Depending on the WiFi settings it shall work as expected.

[2015-02-04 08:39] #76 closed

[2015-02-05 18:48] tarunsujit commented on #79
@jchuong I got the Error when cloned and ran the command you provided in above comment. Please see complete logs

Sujits-MacBook-Pro:GitHub sujittarun$ git clone https://github.com/jchuong/ios-webkit-debug-proxy.git
Cloning into 'ios-webkit-debug-proxy'...
remote: Counting objects: 341, done.
remote: Compressing objects: 100% (21/21), done.
remote: Total 341 (delta 22), reused 15 (delta 11)
Receiv

[2015-02-05 18:56] tarunsujit commented on #79
@jchuong I got this error message.

Sujits-MacBook-Pro:ios-webkit-debug-proxy sujittarun$ brew install automake
Warning: automake-1.15 already installed
Sujits-MacBook-Pro:ios-webkit-debug-proxy sujittarun$ brew install autoconf
Warning: autoconf-2.69 already installed
Sujits-MacBook-Pro:ios-webkit-debug-proxy sujittarun$ sudo make install
Password:
Making install in src
gcc -DHAVE_CONFIG_H -I. -I

[2015-02-05 18:58] jchuong commented on #79
@tarunsujit It looks like you didn't brew the dependencies:

[code]

I guess I will update the README later to explicitly show installation steps.

[2015-02-05 19:01] tarunsujit commented on #79
I having these @jchuong

Sujits-MacBook-Pro:~ sujittarun$ brew install libplist
Warning: libplist-1.12 already installed
Sujits-MacBook-Pro:~ sujittarun$ brew install libusbmuxd
Error: No available formula for libusbmuxd
Searching formulae...
Searching taps...
Sujits-MacBook-Pro:~ sujittarun$ brew install libimobiledevice
Warning: libimobiledevice-HEAD already installed

[2015-02-05 19:13] jchuong commented on #79
@tarunsujit If libplist is installed, you should have the include file in `/usr/local/Cellar/libplist/1.12/include/plist/plist.h`...

I'm curious why `sudo make install` is compiling the code, when it should only just copy the binaries.

[2015-02-05 19:19] tarunsujit commented on #79
I see file present in the path

Sujits-MacBook-Pro:~ sujittarun$ cd /usr/local/Cellar/libplist/1.12/include/plist
Sujits-MacBook-Pro:plist sujittarun$ ls
Array.h		Date.h		Key.h		String.h	plist++.h
Boolean.h	Dictionary.h	Node.h		Structure.h	plist.h
Data.h		Integer.h	Real.h		Uid.h

I am not sure why it is compiling, Can I manually copy the file somewhere? what can i do here?

[2015-02-05 19:22] jchuong commented on #79
I think you *could* copy the include but that shouldn't be the solution (because if this happens to plist, this will probably happen with the other libraries).

I noticed that you didn't seem to have done
[code]
Can you confirm that you did do all 4 commands in the ios-webkit-debug-proxy folder?

[2015-02-05 19:25] tarunsujit commented on #79
I did it. But re-ran these commands again. Please see below logs..

Sujits-MacBook-Pro:ios-webkit-debug-proxy sujittarun$ ./autogen.sh
aclocal
autoheader
automake --add-missing
autoconf
Sujits-MacBook-Pro:ios-webkit-debug-proxy sujittarun$ ./configure
checking for a BSD-compatible install... /usr/bin/install -c
checking whether build environment is sane... yes
checking for a thread-safe mkdir -p..

[2015-02-05 19:32] tarunsujit commented on #79
I see people face the same exact problem : https://github.com/google/ios-webkit-debug-proxy/issues/76

[2015-02-05 19:36] jchuong commented on #79
These two lines:

[code]

Should be yes, so it means something is wrong with your installation of the libraries (libmobiledevice, libplist).

I'm on
libplist 1.12
libimobiledevice 1.1.7
usbmuxd 1.0.10

[2015-02-05 19:40] tarunsujit commented on #79
Mee too, i have same exact versions

Sujits-MacBook-Pro:ios-webkit-debug-proxy sujittarun$ brew install libplist
Warning: libplist-1.12 already installed
Sujits-MacBook-Pro:ios-webkit-debug-proxy sujittarun$ brew install libimobiledevice
Warning: libimobiledevice-HEAD already installed
Sujits-MacBook-Pro:ios-webkit-debug-proxy sujittarun$ brew install usbmuxd
Warning: usbmuxd-1.0.10 already instal

[2015-02-05 19:49] jchuong commented on #79
Actually, check that the plist/plist.h file exists in /usr/local/include. I'm not exactly sure what I did to have the includes installed there but you might have to fiddle with homebrew.  Try updating brew, brew doctor and reinstalling the libraries.

[2015-02-06 11:12] kani19 opened #90 "Library not loaded: /usr/local/lib/libimobiledevice.5.dylib when starting ios_webkit_debug_proxy"
I am getting this error when starting ios_webkit_debug_proxy. Have tried installing and linking again but its not working.

ios_webkit_debug_proxy -c c88361f2aaea4c0fad53e208fe55981c3a900eb3:27753 -d &
[2] 15476
dyld: Library not loaded: /usr/local/lib/libimobiledevice.5.dylib
  Referenced from: /usr/local/bin/ios_webkit_debug_proxy
  Reason: image not found

[2]+  Trace/BPT trap: 5       ios_webk

[2015-02-07 08:56] Afforess commented on #82
I had the same problem. I did debugging and it appears to be a problem with the way libimobiledevice is packaged on Ubuntu (I am on 14.10). I removed the package and compiled libimobiledevice from source and the problem went away.

[2015-02-07 09:34] Afforess commented on #79
I had the same issue and I can confirmed jchuong's repo fixes the issues and allows me to debug iOS 8.1.2 correctly.

[2015-02-08 18:26] tarunsujit commented on #79
@jchuong I tried all possible ways, but no luck.
I removed brew and installed it again.. but still the same issue. Please suggest

[2015-02-08 23:20] GingerBear commented on #86
saw a [comment](http://stackoverflow.com/questions/11361822/debug-ios-67-mobile-safari-using-the-chrome-devtools?rq=1#comment43062053_16903378) on stackoverflow, seems to be working (fast but still buggy) using `ws` parameter like `chrome-devtools://devtools/bundled/devtools.html?ws=localhost:9222/devtools/page/1` with default start.

[2015-02-09 18:01] tmeloliveira commented on #82
Hi @Afforess,
I'm still facing the issue, would you be able to share some details of your solution ?

[2015-02-09 18:22] jchuong commented on #79
@tarunsujit Sorry I don't know how to fix your issue.  The only way I can reproduce this is by uninstalling the libraries, but that is solved by brew install again.   Try to `brew unlink libplist` and then `brew link libplist`, you should check that /usr/local/include/plist was removed, then created.  If not, then there is an issue with how brew is linking a directory.

[2015-02-11 16:13] aerohit commented on #86
I was getting a blank page on chrome dev tools. I tried the [chrome-devtools://devtools/bundled/devtools.html?ws=localhost:9222/devtools/page/1](chrome-devtools://devtools/bundled/devtools.html?ws=localhost:9222/devtools/page/1) as suggested by **GingerBear** above and managed to connect finally.

But I keep losing the connection. I get a 'websocket_closed' message on the devtools and the followin

[2015-02-12 18:50] GingerBear commented on #86
@aerohit I am guessing newer devtools change its debug protocol, so this project can no longer correctly translate from safari's debug protocol to devtools'.

The version of devtool used be the default (18.0.1025.74) works well. You can see the version in history of a file https://github.com/google/ios-webkit-debug-proxy/commit/97244edb2c3b499007be5eeaf36623ee06e53864#diff-5ec77c8336660a306cae07d0

[2015-02-13 05:05] Afforess commented on #82
@tmeloliveira You have to remove the libimobiledevice package, so apt-get purge libimobiledevice*

To make sure it is removed properly, try starting ios-webkit-debug-proxy, it should crash, as it is missing the dependency. If it crashes, continue:

Then clone the project from here: https://github.com/libimobiledevice/libimobiledevice

Follow their steps to install. It should install the binaries i

[2015-02-13 23:36] brainwarped commented on #74
I have the same problem. Pairing, unpairing and validation were successful.

Tested on:

Fedora @ 20
iPad @ 8
iPhone @ 8

Error:

[2015-02-20 20:24] amarnathrayudu commented on #90
Hi @kani19,

I had the same issue and it is fixed with this below steps.

1. brew doctor
 expected : Warning: You have unlinked kegs in your Cellar
Leaving kegs unlinked can lead to build-trouble and cause brews that depend on
those kegs to fail to run properly once built. Run `brew link` on these:

    ios-webkit-debug-proxy

2.  brew link ios-webkit-debug-proxy

Note : do a force link if you see

[2015-02-24 19:24] srihariinnamuri commented on #72
Any solution for this issue, I am getting same issue on IPhone 6 (IOS 8.1)

Invalid message _rpc_applicationUpdated: <dict>
	<key>WIRApplicationIdentifierKey</key>
	<string>PID:892</string>
	<key>WIRIsApplicationProxyKey</key>
	<true/>
	<key>WIRApplicationNameKey</key>
	<string></string>
	<key>WIRApplicationBundleIdentifierKey</key>
	<string>com.apple.WebKit.WebContent</string>
	<key>WIRIsApplicat

[2015-02-28 22:28] elennaro commented on #72
Also have this message Invalid message _rpc_applicationUpdated

[2015-03-03 23:07] programmin1 commented on #75
Same here on 14.04, although I have libplist 1.10-1 from Ubuntu. I get:

Detected an old copy of libplist?!  For a fix, see:
https://github.com/libimobiledevice/libimobiledevice/issues/68#issuecomment-38994545: Success
Unable to start device_listener

Any fix or workaround available?

[2015-03-05 04:48] programmin1 commented on #75
@gruzilla The readme clearly states that it requires libplist 1.10, is this incorrect?

[2015-03-05 04:59] programmin1 commented on #75
I compiled libplist 1.12 and it still gives this error message.

[2015-03-05 09:30] paymand commented on #72
For *Invalid message _rpc_applicationUpdated* use this:
``./bin/ios-webkit-debug-proxy-launcher.js -c <UDID>:27753 -d``
which takes care of launching *ios_webkit_debug_proxy*. See:
https://github.com/appium/appium/blob/master/bin/ios-webkit-debug-proxy-launcher.js

[2015-03-07 22:29] 0x1mason opened #93 "is this project abandoned?"
@wrightt Good PRs are languishing.

[2015-03-08 01:02] bootstraponline commented on #93
:+1:

[2015-03-08 19:29] wrightt commented on #72
Hi, sorry I haven't had time to fix this yet!  I'm freeing up time soon and I have a refactor plan to help avoid these bugs; see:
https://github.com/appium/appium/issues/4668#issuecomment-77769033

[2015-03-08 19:35] wrightt commented on #93
Hi, thanks!  Please see my response on appium's thread:
https://github.com/appium/appium/issues/4668#issuecomment-77769033

[2015-03-10 15:11] #93 closed

[2015-03-16 08:38] Goltergaul commented on #75
i have the same problem. whats the issuse?

[2015-03-17 09:02] cosminduracsv commented on #79
@jchuong  - I used the fix added in https://github.com/jchuong/ios-webkit-debug-proxy and it resolves the problem related to ios-webkit-debug-proxy being disconected. Now the ios-webkit-debug-proxy remains connected all the time, but still appium says:
error: [REMOTE] Could not connect to WebKitRemoteDebugger server
error: Failed to start an Appium session, err was: Error: Could not navigate to we

[2015-03-18 05:19] jchuong commented on #79
@cosminduracsv Sorry, with just that I can't tell what is wrong.  If you can show me if there is a message in iwdp or some more information then maybe.

[2015-03-18 08:53] cosminduracsv commented on #79
@jchuong Here is what i get in iwdp:
Unknown app_id PID:215
Invalid message _rpc_applicationSentListing: <dict>
 <key>WIRApplicationIdentifierKey</key>
 <string>PID:215</string>
 <key>WIRListingKey</key>
 <dict>
  <key>1</key>
  <dict>
   <key>WIRTitleKey</key>
   <string>Granular</string>
   <key>WIRTypeKey</key>
   <string>WIRTypeWeb</string>
   <key>WIRURLKey</key>
   <string>http://local.granu

[2015-03-18 09:08] snevesbarros commented on #79
@cosminduracsv, I believe this also happens when there is still an existing connection to the proxy. Please check you are:
1. Always using webdriver.quit() to close the previous connection properly
2. Don't have chrome open with page http://127.0.0.1:27753 opened (as that takes up the connection as well)

[2015-03-19 01:16] paulirish commented on #53
Aye, it looks like @artygus's port is the best choice for now.

In the future this port could be merged in, but it looks like the separate project can track upstream closely if need be.

[2015-03-20 21:52] wrightt commented on #86
Yeah, I think

[2015-03-20 22:02] wrightt commented on #86
Oops, I clicked "Close" by mistake!

Anyways, yes, there seem to be two issues here:
1. I need to add the trivial "_rpc_applicationUpdated" handler, and
2. Chrome's inspector UI no longer supports the latest MobileSafari's DevTools -- we'd have to fix the Chromium https://chromium.googlesource.com/chromium/blink/+/master/Source/devtools/front_end/

[2015-03-23 13:31] marinintim opened #94 "Compile error"
Hello.

When I try to build ios-webkit-debug-proxy, I get this error during `make`. How can I fix it?
[code]

[2015-03-26 12:08] animator013 commented on #94
Try this before `make`:

`./configure LIBS="-lm"`

[2015-03-28 12:01] artygus commented on #53
@paulirish my repo needs some extra work, i'd like to merge though

[2015-03-30 17:06] viniciusrtf commented on #88
I"m on Ubuntu 14.10 and had the same problem.

Here is what I did:

1. sudo apt-get install libtool
2. compile libimobiledevice 1.2.0 from source (http://www.libimobiledevice.org/)
3. export LDFLAGS="$LDFLAGS -lm"
4. compile ios-webkit-debug-proxy from source according to README.md instructions.

[2015-03-30 19:06] viniciusrtf commented on #88
Also had to compile a newer usbmuxd from source, and run "sudo ldconfig" before using ios-webkit-debug-proxy. After everything is installed and your iPhone is connected and recognized, you'll probably need to read issue #86 and use an old version of DevTools to be able to inspect anything.

[2015-04-02 13:22] oskosk opened #95 "Please update dependency versions for the latest release of ios-webkit-debug-proxy"

[2015-04-02 14:07] radicalbiscuit commented on #94
This cleared the final hurdle for me on Ubuntu 14.04.

[2015-04-03 17:00] uipoet commented on #95
And release a new version that we may once again use via `brew install ios-webkit-debug-proxy`. I thought this project was dead, given latest release date, that it no longer works and no commits until recently.

[2015-04-09 07:06] paulirish commented on #86
Chrome and Safari have now diverged a bit with the debugger protocol.  I haven't looked into how much, but I suspect it isn't a big gap. It's likely quite fixable.

###  protocol status

#### current Chrome DevTools protocol:
https://code.google.com/p/chromium/codesearch#chromium/src/third_party/WebKit/Source/devtools/protocol.json

(and a handy viewer for it: http://chromedevtools.github.io/debug

[2015-04-09 09:19] artygus commented on #86
@paulirish I would like to help

[2015-04-18 00:10] jmunsch commented on #94
+1

[2015-04-18 00:18] jmunsch commented on #88
Possibly related: https://github.com/google/ios-webkit-debug-proxy/issues/94

[2015-04-23 07:58] ChuanyuWang opened #96 "Please merge James Chuong's fork to Handle the "_rpc_applicationUpdated" message"
Hi Admin,

As upgrade to iOS 8.1+, iOS-webkit-debug-proxy disconnect device during running. Because one new message "_rpc_applicationUpdated" is not handled correctly. The fix have been submitted into a folk repository - https://github.com/jchuong/ios-webkit-debug-proxy. Would you please merge the fix for the iOS users?

Thanks,
Chuanyu

[2015-04-24 09:22] ChuanyuWang commented on #96
It took me almost a week to get it through on iOS 8.3, I put more investigation result at [iOS 8.3 unknown app ID](https://github.com/jchuong/ios-webkit-debug-proxy/issues/1). If you are still looking for it, please come and contribute.

[2015-04-24 16:11] lzbob commented on #96
Vote + 1, we are currently waiting for the fix, otherwise, can't test mobile safari on iOS 8 device.

[2015-04-28 13:38] wrightt commented on #96
Sounds good to me.  I'll email @jchuong and ask him to submit a pull request.

[2015-05-04 04:03] ChuanyuWang commented on #96
@wrightt We have forked the repository from google, and try to fix the issue as jchuong is busy. Back to you when we get more progress.

[2015-05-04 09:27] haizaar commented on #74
Same issue here exactly. Is there any workaround? Can someone confirm if it works on Ubuntu 14.10 or 15.04?

[2015-05-04 18:01] jchuong commented on #96
Just a quick update since I went dark for 2 weeks.. I moved last week and this week and I don't currently have my work laptop or devices so I haven't been able to check out the necessary steps to fix these new keys.

[2015-05-05 16:19] niftylettuce commented on #86
Thanks @richardkeen, your [suggestion](https://github.com/google/ios-webkit-debug-proxy/issues/86#issuecomment-71681600) worked for me.

[2015-05-05 18:40] wrightt commented on #86
Sounds good to me!  @paulirish, I've added you as a project admin, so please feel free to coordinate.

[2015-05-05 18:41] wrightt commented on #96
@jchuong, I've added you as a project collaborator, so please feel free to submit when ready.

[2015-05-11 17:43] dangelov commented on #86
fwiw @GingerBear 's suggestion for using `ws` works for me

[2015-05-13 03:19] jordwalke commented on #52
What would it take to get this working?

[2015-05-21 02:22] evelynriossf commented on #86
May 20th.. I'm getting the same problem with the white screen in Chrome 43. @GingerBear 's suggestion to use chrome-devtools://devtools/bundled/devtools.html?ws=localhost:9222/devtools/page/1 works for me.

[2015-05-28 05:30] muhammedbasilsk commented on #94
+1
@animator013

[2015-06-01 12:35] #78 closed

[2015-06-01 13:41] Anselz opened #102 "I want to support Windows version"
We are hoping to run under Windows.THX

[2015-06-01 15:09] lbielski commented on #76
This helped me:

export C_INCLUDE_PATH=/usr/local/include
export LIBRARY_PATH=/usr/local/lib

[2015-06-01 17:07] artygus commented on #102
@Anselz in the meantime you can check out https://github.com/artygus/ios-webkit-debug-proxy-win32

[2015-06-05 20:24] chris1248 commented on #96
Vote +1 here too. We are also experiencing an issue with that on IOS 8.3. As a result, we cannot test on a real IPad or IPhone yet.

[2015-06-06 01:30] jchuong commented on #96
I have made the pull request and merged it.  Please try it out, though I don't think 8.3 will actually work just yet due to the new changes.  You may be adventurous and try out https://github.com/jchuong/ios-webkit-debug-proxy/pull/2 which basically disables all error messages.  I believe this is hacky and isn't the right solution but if you're tired of chasing tails after every update to iOS, it

[2015-06-06 01:30] #96 closed

[2015-06-13 18:13] Anselz commented on #102
@artygus Awesome!

[2015-06-17 10:53] auchenberg commented on #70
Have you tried loading the devtools front-end from non HTTPS? The debugging target can be HTTPS without the devtools itself is.

[2015-06-17 10:54] auchenberg commented on #49
Should probably be closed.

[2015-06-18 06:49] #49 closed

[2015-06-25 10:05] mbugay opened #104 "make error"
sudo make
make  all-recursive
make[1]: Entering directory `/home/user/Downloads/ios-webkit-debug-proxy-master'
Making all in src
make[2]: Entering directory `/home/user/Downloads/ios-webkit-debug-proxy-master/src'
/bin/bash ../libtool  --tag=CC   --mode=compile gcc -DHAVE_CONFIG_H -I. -I..  -I../include   -I/usr/local/include -I/usr/include/libxml2   -I/usr/local/include -I/usr/include/libxml2   -

[2015-06-25 21:00] artygus commented on #104
@mbugay please checkout #106

[2015-06-29 11:18] tauheedkhan commented on #79
hey, make command giving error:
websocket.c:327:7: error: expression result unused [-Werror,-Wunused-value]
      *out_tail++;

[2015-06-29 11:38] jchuong commented on #79
https://github.com/google/ios-webkit-debug-proxy/issues/104

PR is already ready but I haven't gotten any confirmation that everything is okay,

[2015-06-29 12:57] tauheedkhan commented on #79
I checked, fix is working fine

[2015-06-29 13:05] artygus commented on #79
@jchuong it's pretty easy to check, most of the websocket requests would stop to work. I have doubts regarding the 'implicit declaration of function 'htons' [-Werror=implicit-function-declaration]' error, but OP of #103 haven't responded to the PR yet

[2015-06-29 13:29] jchuong commented on #79
@tauheedkhan @artygus Thanks, I just don't have a real device with me so I don't want to say its actually working.  I will also close this issue because I believe it is fixed for 8.1.. I think some people changes for 8.2,8.3 instead now.

[2015-06-29 13:29] #79 closed

[2015-06-29 13:30] #104 closed

[2015-07-02 09:47] grglaz commented on #86
running ios_webkit_debug_proxy -f http://chrome-devtools-frontend.appspot.com/static/27.0.1453.93/devtools.html

and browsing with http://localhost:9222/devtools/devtools.html?ws=localhost:9222/devtools/page/1

works for me but communication is soooo slow...

[2015-07-03 07:15] bigfei opened #107 "Creating a new release for the project"
Hi,the latest release of this project was on the 2014.7.  From then on, there is a lot of bug fix happened. Can you guys make a new release for it so that the related package management repository(eg. Homebrew)  would be updated too.

Thanks.

[2015-07-03 07:43] bigfei opened #108 "Creating a new release for the project"
This latest release of this project is on the 2014.07. It is a quite long time for a project release. Can you guy make a new one cause many  package management software (eg, [homebrew](https://github.com/Homebrew/homebrew/blob/master/Library/Formula/ios-webkit-debug-proxy.rb)) are still using the old buggy version? Thanks.

[2015-07-03 07:43] #107 closed

[2015-07-03 19:30] paulirish commented on #108
@jchuong can you turn out a rls?

[2015-07-03 19:39] jchuong commented on #108
Okay, I created release 1.5.  I'm not sure as to how to set it up for homebrew.

[2015-07-03 19:49] artygus commented on #108
@jchuong I think you this file https://github.com/Homebrew/homebrew/blob/master/Library/Formula/ios-webkit-debug-proxy.rb should be updated

[2015-07-03 19:58] jchuong commented on #108
@artygus Thanks, I was just looking up the steps now but I'll let you handle it.

[2015-07-04 11:37] artygus commented on #108
@jchuong https://github.com/Homebrew/homebrew/pull/41347 has been merged

[2015-07-07 15:00] hueyy opened #109 "No available formula for zlib"
Upon running `brew install ios-webkit-debug-proxy`, I receive the following output:

    Error: No available formula for zlib (dependency of ios-webkit-debug-proxy)
    Searching formulae...
    lzlib
    Searching taps...

`zlib` appears to have been replaced by `lzlib` in brew. I've installed `lzlib` instead, but I'm still facing this issue. Any way around this?

[2015-07-07 15:39] artygus commented on #109
@leejinhuey AFAIK zlib is not required to compile iwdp directly, it might be needed by one of it's dependencies, e.g. openssl or libxml

[2015-07-07 19:41] Swapnillll commented on #79
@jchuong i tried this fix in 8.4. It works, proxy is not disconnecting now. But i saw another issue like my test url is not launched in the browser after this update.

Worked fine when i started the proxy from the ios-webkit js file before taking this fix.

[2015-07-08 09:56] #108 closed

[2015-07-10 02:04] jchuong commented on #95
The new release version of iwdp is now up on Homebrew, please try it out.

[2015-07-12 01:17] leejinhuey commented on #109
You're right, it's `openssl` that requires `zlib`

    Error: No available formula for zlib (dependency of openssl)
    Searching formulae...
    lzlib
    Searching taps...

Does this mean I should file this issue with `openssl`?

[2015-07-13 15:08] shmdhussain commented on #86
@GingerBear:  ur suggestion is working..thanks..but I am not able to inspect webview application pages. is anybody facing this issue?

[2015-07-13 15:27] auchenberg commented on #86
@grglaz @shmdhussain Which build of ``ios-webkit-debug-proxy`` are you running with? I [committed](https://github.com/google/ios-webkit-debug-proxy/commit/996024083a31a0e589f677f7cc5840d1337d357a) a changed to update the chrome devtools url, so the WS querystring is correct.

[2015-07-13 15:32] shmdhussain opened #110 "Not able to inspect UIWebview"
I am not able to debug/inspect in iPhone 5s (iOS 8.1.1) the native UIwebview app using the ios-webkit-debug-proxy, i am able to debug the mobile safari pages using the urls 'http://localhost:9221/" and "http://localhost:9222/ "and "chrome-devtools://devtools/bundled/devtools.html?ws=localhost:9222/devtools/page/1" used to list devices and its opened tabs.

But not able to inspect native webview ap

[2015-07-13 15:48] shmdhussain commented on #86
@auchenberg : Just now i installed the ios-webkit-debug-proxy (i think v1.5) in OSX 10.10 and chrome 43

[2015-07-13 15:51] auchenberg commented on #86
@shmdhussain Alrighty, then it's unrelated to my change. Never mind :)

[2015-07-13 15:56] shmdhussain commented on #86
@auchenberg : so will it work normally as "http://localhost:9222/devtools/devtools.html?ws=localhost:9222/devtools/page/1" instead of "chrome-devtools://devtools/bundled/devtools.html?ws=localhost:9222/devtools/page/1"?

Could you please help me in how to debug UIWebview native ios app, i am not able to do so. Thanks in advance.

[2015-07-13 16:05] foobartel commented on #86
@shmdhussain @auchenberg For me v1.5 only works with this url:
chrome-devtools://devtools/bundled/devtools.html?ws=localhost:9222/devtools/page/1

The link from http://localhost:9222/ for the first iOS device is
http://localhost:9222/devtools/devtools.html?ws=localhost:9222/devtools/page/1 though, and that only shows a white page with a grey bar at the top and some Apple SLA comment in the source.

[2015-07-13 16:12] shmdhussain commented on #86
@foobartel : are you able to inspect native webview app? see my screenshot for http://localhost:9222/devtools/devtools.html?ws=localhost:9222/devtools/page/1
![screen shot 2015-07-13 at 9 33 35 pm](https://cloud.githubusercontent.com/assets/4039657/8654421/d1210320-29a7-11e5-8caa-4d5c1fbe2352.png)

screenshot for chrome-devtools://devtools/bundled/devtools.html?ws=localhost:9222/devtools/page/1

!

[2015-07-14 09:20] shmdhussain commented on #110
When i searched in net I found that this is not possible for the app installed from app store, possible only for the app insatlled from xcode to my device "Not only can you remotely debug web pages in mobile Safari, you can remotely debug any web page in any plain old UIWebView, which just happens to include that UIWebView hosting your PhoneGap application. Note that you can only inspect UIWebView

[2015-07-15 17:45] jasonsilver commented on #38
Frustrating, I've just not been able to figure out what's wrong. I compiled and installed everything in Ubuntu from libimobiledevice.org, but have the following issues:
[code]
 - idevicepair pair
 - SUCCESS: Paired with device 7ec15b69bf887499a6a92ab905bb95088c694a50
 - ios_webkit_debug_proxy -f http://chrome-devtools-frontend.appspot.com/static/18.0.1025.74/devtools.html
 - Listing devices on :92

[2015-07-15 18:29] christianboyle commented on #38
I just tried this again and things are working as expected now. Starting from scratch on OSX:

1. brew install ios-webkit-debug-proxy
2. start iOS simulator
3. ios_webkit_debug_proxy
4. open http://localhost:9221
5. select device
6. use the websocket URL instead of host: chrome-devtools://devtools/bundled/devtools.html?ws=//localhost:9222/devtools/page/1

[2015-07-15 18:29] #38 closed

[2015-07-16 12:23] casperbiering commented on #94
animator013's solution worked for me as well.

[2015-07-16 16:20] fearphage commented on #94
I ran @animator013's solution and then I had to run `sudo ldconfig` to get around the following error:

[code]

I'm on Ubuntu 14.10. Thank you.

[2015-07-17 18:26] vincentbernat commented on #74
A possible workaround is to recompile libimobiledevice packages to use OpenSSL instead of GnuTLS. I am able to make all work when I do just that.

[code]

[2015-07-28 18:06] kcbanner commented on #52
Any updates on this?

[2015-07-28 20:00] hy9be opened #114 "Could it work with Cocoa WebView on Mac OS?"
Since it could work against UIWebViews on iOS, could it work with Cocoa WebView on Mac OS? If not, any idea on supporting it with modest code changes?

Thanks!

[2015-07-29 18:52] artygus commented on #52
@kcbanner @jordwalke I'm currently working on a compatibility layer between chrome and safari dev tools protocols, I think I'll publish the first working version in a month or so

[2015-07-29 19:50] jordwalke commented on #52
@artygus Is that a complete reimplementation of the ios-webkit-debug-proxy, or just fixing the issues? I'd really like to hear more about what you're doing.

[2015-07-29 20:03] auchenberg commented on #52
@artygus @jordwalke +1 listening in here.

[2015-07-29 20:03] artygus commented on #52
@jordwalke nope, iwdp does the only one thing, it proxies dev tools messages from iOS browser. Chrome and Safari have diverged a little bit with the debugger protocol at some point, so technically it is possible to write another proxy that translates things from the old protocol to what Chrome understands now. You can get the idea here https://github.com/google/ios-webkit-debug-proxy/issues/86#iss

[2015-07-29 20:12] kcbanner commented on #86
I am specifically interested in the profiling capabilities. Since Safari 7, the JavaScript CPU profiler is missing. I'd like to use the Chrome devtools to run CPU profiles on iOS devices, since the only way to run  a CPU profiler currently is to downgrade to OS X 10.8 and use Safari 6. I can use ios_webkit_debug_proxy to debug my webview/safari with the Chrome Canary bundled dev tools, but sadly t

[2015-07-30 18:40] jordwalke commented on #52
@artygus Thanks. Well, I assure you that anyone using React Native would be very excited to hear what your findings are. Please keep us posted.

[2015-08-04 17:00] Sendami commented on #79
For me keeps without working in 8.1.3 with ipad air

[2015-08-21 16:34] Swapnillll commented on #95
@jchuong can you please push the fix for ios-webkit disconnecting in latest webkit release? Currently i'm using fork you had mentioned in one issue.

[2015-08-21 16:43] jchuong commented on #95
I think you're using my fork?  If so, then those changes should be already merged in this repository already.

[2015-08-21 17:51] Swapnillll commented on #95
I don't think so, when i use the brew install i still get disconnected. Only using the fork fixes it.
Not sure if i'm missing anything.  If possible can you let me know which release has that fix?

I'll try to test it again from latest release.

[2015-08-21 17:57] artygus commented on #95
@Swapnillll make sure you ran `brew update` before `brew install ios-webkit-debug-proxy`

[2015-08-21 18:16] Swapnillll commented on #95
Sure, i'll try that now.

[2015-08-21 18:22] artygus commented on #95
@Swapnillll  also you can try `brew upgrade ios-webkit-debug-proxy`

[2015-08-21 18:38] Swapnillll commented on #95
wow, i'm confused now. Taking brew update stated its already up to date. ios-webkit i had latest release but still was having issues.

I tried doing a clean install of the webkit and it fixed the issue. Not sure what caused this error. Looks like i have to do this for all of our test macs.

Anways, thanks a lot for the quick response and fix steps @artygus  and  @jchuong.

[2015-09-04 09:03] andreinitescu opened #115 "Mixed content - websocket error"
Im using the WIndows port and here's what I got:

`Mixed Content: The page at 'https://chrome-devtools-frontend.appspot.com/static/27.0.1453.93/devtools.html?host=localhost:9222&page=2' was loaded over HTTPS, but attempted to connect to the insecure WebSocket endpoint
'ws://localhost:9222/devtools/page/2'. This request has been blocked; this endpoint must be available over WSS.WebInspector.loaded

[2015-09-04 09:14] artygus commented on #115
@andreinitescu do you see a shield icon in the address bar?

[2015-09-04 09:21] andreinitescu commented on #115
wooooow... it works!
thank you! :)

[2015-09-04 09:25] artygus commented on #115
@andreinitescu welcome

[2015-09-17 11:41] animator013 commented on #86
From chrome ver. 45 url
[code]
no longer works for me.

I used this instead:

[code]

Hope it helps someone.

[2015-09-18 03:30] nikoloza commented on #86
Running

    ios_webkit_debug_proxy -f chrome-devtools://devtools/bundled/inspector.html

worked for me. *Note:* `inspector.html` at the end instead of `devtools.html`

[2015-09-18 05:57] xing-zhi opened #116 "Disconnecting right after connected"
On Debian 8, after connecting, it showed information below and then disconnected.

[code]

Could anyone tell me what's wrong with this?

Thanks!

[2015-09-21 22:18] paulirish commented on #86
Yes, this is a permanent change. For anyone uses the bundled inspector you should be using it via `inspector.html`, as the two above comments indicate.

Sorry for the breakage here.

[2015-09-22 00:11] coicoronado opened #117 "/deep/ combinator is deprecated. See https://www.chromestatus.com/features/6750456638341120 for more details."
I get this message in the console of chrome after starting the proxy and try to debug a page
[code]

[2015-09-22 14:52] octoxan opened #118 "Unable to retrieve device list!"
Ran the install, it failed because it needed newer versions. Manually built and installed latest libimobiledevice. Now ios-webkit-debug-proxy works except

    idevice_id -l

throws:

    "ERROR: Unable to retrieve device list!"

[2015-09-27 08:25] artygus commented on #52
@kcbanner @jordwalke @auchenberg hey guys, as I don't have enough free time to finish work on compatibility proxy right now, I decided to to make a little progress on the issue extracting webkit webinspector diectly, maybe you will find it useful https://github.com/artygus/webkit-webinspector

[2015-09-27 09:18] artygus commented on #52
Regarding the Profiler tab I'm afraid it's not possible at all, Profiler domain was completely removed with  protocol v9, and only CPU profiling was possible with previous versions

[2015-09-29 22:59] auchenberg commented on #52
@artygus Thanks for the update, much appreciated!

[2015-09-30 11:58] auchenberg commented on #52
Ping @paulirish

[2015-10-02 06:03] donrhummy opened #119 "Connects to iPad but shows blank console in browser"
I am able to connect to the iPad and see a message like:

    Connected :9222 to Don's iPad (378c2c788...)

I then go into my web browser to http://localhost:9222 and I correctly see the link for the web page listed, but after clicking it, t's just a blank page with a gray bar and search box. Refreshing (on both the iPad and the Chrome desktop browser) does nothing.

I know the page prints output

[2015-10-02 13:30] marcvangend commented on #119
Duplicate of issue #86. In particular comment https://github.com/google/ios-webkit-debug-proxy/issues/86#issuecomment-73438873 fixed it for me.

[2015-10-02 18:08] donrhummy commented on #119
@marcvangend Thank you, using "http://chrome-devtools-frontend.appspot.com/static/27.0.1453.93/devtools.html" AND clearing the cached app (it uses a manifest file) made it work for me. Why isn't this in the documentation for this project?

[2015-10-02 18:09] donrhummy commented on #86
What's the earliest version of Chrome that has this bundled inspector?
"ios_webkit_debug_proxy -f chrome-devtools://devtools/bundled/inspector.html"

[2015-10-02 19:27] marcvangend commented on #119
It seems that the software is evolving rapidly and that there are different ways to solve the same problem. What works for you and me may not work for everyone else, so that makes it hard to write good documentation I guess.

That said; it's open source software, so you can help make it better. Feel free to fork the project, improve the documentation in README.md and and submit a pull request.

[2015-10-02 22:23] donrhummy commented on #119
As soon as I have free time, I'll take a look at what it's doing and see if I cna offer any help.

I'll also write some documentation for compiling/upgrading to the latest version of libimobiledevice as that's missing (requires 1.2+) on a lot of Linux computers (judging from the many issues found online and my own experience) and the instructions online were inadequate. Might help.

[2015-10-03 10:33] artygus commented on #86
@kcbanner check this out https://github.com/artygus/webkit-webinspector, I extracted webkit's webinspector so there's no need to downgrade to safari 6 anymore

[2015-10-04 21:46] paulirish commented on #117
It's logged because the devtools frontend is using the `/deep/` selector. You can ignore it.

[2015-10-04 21:46] #117 closed

[2015-10-05 00:07] paulirish commented on #102
Pointed to artygus's port in the readme. Closing this for now. We'll keep open the other tracking ticket to merge these eventually.

[2015-10-05 00:07] #102 closed

[2015-10-05 00:10] paulirish commented on #109
Upstream issue. Might have been resolved already, even.

[2015-10-05 00:10] #109 closed

[2015-10-05 00:14] #94 closed

[2015-10-05 00:15] #95 closed

[2015-10-05 00:15] paulirish commented on #90
thanks for the help Amarnath!

[2015-10-05 00:15] #90 closed

[2015-10-05 00:20] #82 closed

[2015-10-05 00:21] paulirish commented on #73
Closing as iwdp can't try this out right now.

[2015-10-05 00:21] #73 closed

[2015-10-05 00:23] #71 closed

[2015-10-05 00:24] #70 closed

[2015-10-05 00:25] #115 closed

[2015-10-05 00:27] paulirish commented on #114
Perhaps! but that is out of scope for the project.  Would be happy to see someone try to make this work, but it'd likely not share much of iwdp's implementation.

[2015-10-05 00:27] #114 closed

[2015-10-05 00:36] paulirish commented on #119
I've updated the readme a bunch today, so hopefully that helps. Similarly, I put up #120 to propose changing the default frontend.

All PRs to this project are very welcome!

[2015-10-05 00:36] #119 closed

[2015-10-05 00:37] paulirish commented on #119
and @marcvangend thanks very much for helping out on these issue threads!

[2015-10-05 16:53] donrhummy commented on #119
@paulirish can you also add to the documentation that because it's an offline web app, people may need to clear the app's data from their browser's cache to see the changes?

[2015-10-06 07:20] pondahai commented on #116
<key>WIRApplicationIdentifierKey</key>
            <key>PID:71</key>   <==================== ???may be iOS's bug

[2015-10-06 18:52] artygus commented on #116
@pondahai yeap looks like a bug, do you experience troubles with iOS 9?

[2015-10-07 01:14] pondahai commented on #116
Yes, after upgrade to iOS 9.0.2

[2015-10-07 18:52] artygus commented on #116
@pondahai try to update libplist to 1.12

[2015-10-16 23:49] desmondtam commented on #86
I'm able to see the requests, but the timings are mis-translated I think.  Does anybody else see something similar?
![pasted_image_10_16_15__3_40_pm](https://cloud.githubusercontent.com/assets/15131388/10554865/5115fb94-741c-11e5-9f67-291094471293.jpg)

[2015-10-21 03:56] programmin1 commented on #74
I'm on libimobiledevice 1.2 from here on 14.04 and still getting this error:
https://launchpad.net/~martin-salbaba/+archive/ubuntu/ppa+libimobiledevice

[2015-10-21 10:34] NehaDua commented on #72
Hi All,

I was also facing this webkit crashing issue and trying its work around "./bin/ios-webkit-debug-proxy-launcher.js -c <UDID>:27753 -d"

first i did    "cd /usr/local/bin" on terminal
then "ios-webkit-debug-proxy-launcher.js -c ca666e295c7cd5a893e376989f3c4a3b24987534:27753 –d"

it says "command not found "

can someone please help me , do we need to separate install this js file or where I

[2015-10-21 14:46] jchuong commented on #72
@NehaDua That is only in the appium directory, not in your system directory.  [appium]/bin/ios-webkit-debug-proxy-launcher.js

[2015-10-22 19:42] paulirish opened #122 "Roll a new release"
@jchuong Can you help us ship a new release?

[2015-10-22 21:38] jchuong commented on #122
Sure, release 1.6 is now out.  Mostly README and some build changes.

[2015-10-22 21:38] #122 closed

[2015-10-26 14:43] leftdevel commented on #86
@animator013. Your solution works for me, thanks!

[2015-10-30 01:04] trevor403 commented on #61
I have the same problem on Ubuntu 14.04

[2015-11-01 06:27] devmidai commented on #19
我的好像还是不行，提示send failed: Socket is not connected

[2015-11-05 05:03] programmin1 opened #123 "Can't expand the view for source folders"
When I go to sources and try to expand one of the folders in the left panel, it doesn't work. When I go to the devtools console of the devtools page I see it's having problems:

``
Uncaught TypeError: window.getComputedStyle(...).getPropertyCSSValue is not a function:
TreeElement.isEventWithinDisclosureTriangle @ DevTools.js:2771
TreeElement.treeElementToggled @ DevTools.js:2489
``

[2015-11-05 20:55] artygus commented on #123
@programmin1 you can try to run iwdp with `-f http://frontend.chrome-dev.tools/serve_rev/@198714/inspector.html`

[2015-11-07 20:06] Josh-a-e commented on #16
Is anyone aware if anything has changed here?

[2015-11-08 02:25] programmin1 commented on #16
What's the point in inspecting Chrome if it uses the same rendering engine as Safari? In fact I don't think there is any other browser, like Firefox for iOS, because of Apple's absurd policies on that.

[2015-11-08 09:41] Josh-a-e commented on #16
Right now I have an issue where stripe checkout appears just fine on iOS Safari, but doesn't show up at all in iOS Chrome, so I really just want to have a look at the console to see what's going on.

In this instance I think chrome has different policies around the creation of new tabs.

[2015-11-09 15:46] ygalbel commented on #90
Thank for help.

In my case, missing links was
    libimobiledevice
    libplist
    libtasn1
    libusb
    usbmuxd

after manual link, debugger work fine.

[2015-12-07 06:36] ASYB commented on #72
@paymand
Sorry this message is not related to  thread, can you please let me know the configuration to test on Opera Mini on iPhone 5s and iPad Mini, as you mentioned you tested on this browser.

[2015-12-07 08:50] paymand commented on #72
@ASYB: The settings were the ones I mentioned in https://github.com/google/ios-webkit-debug-proxy/issues/72#issuecomment-61071651 last time I checked.

[2015-12-07 09:18] ASYB commented on #72
what about the capabilities for browser, as we mentioned safari for safari browser. If I am not wrong you were talking about Opera Mini browser ??

[2015-12-10 19:23] paymand commented on #72
You do not need any special cap for Opera afaik. It uses UIWebview for non-mini modes that Appium should automatically pick up and expose via ``driver.contexts``.
See https://github.com/appium/appium/blob/master/docs/en/advanced-concepts/hybrid.md for more info.

[2015-12-17 11:18] priyatech commented on #72
iOS Web Kit debug Proxy connects with the iOS device and disconnects immediately. Once in 10 times plugging and unplugging and changing the port it connects. Is there any  iOS Web Kit debug Proxy cache on device or mac to clean up?

Xcode7.2
OSx10.11
iOS Device 7.1
iPhone 5S

[2015-12-17 11:18] priyatech opened #129 "iOS Web Kit debug Proxy connects and disconnects immediately"
iOS Web Kit debug Proxy connects with the iOS device and disconnects immediately. Once in 10 times plugging and unplugging and changing the port it connects. Is there any  iOS Web Kit debug Proxy cache on device or mac to clean up?

Xcode7.2
OSx10.11
iOS Device 7.1
iPhone 5S

[2016-01-04 20:29] RaphaelDDL opened #130 "LiveEdit JS"
Hi everyone,

In first place, thanks for this awesome tool! Was tired of Safari lame inspector :)

I tried to Live edit JS just like Chrome but every breakpoint goes into a VM#### tab, which then editing and saving ain't being recompiled/re-run.

Not sure if I'm doing something wrong or simply isn't available.

But from what I was thinking, Web Inspector doesn't have that kind of feature shipped,

[2016-01-07 17:27] stephanec1 commented on #57
it do not work for me too

[2016-01-08 10:03] r00ger opened #131 "Network timings aren't visible"
As it [was mentioned](https://github.com/google/ios-webkit-debug-proxy/issues/86#issuecomment-148867014) at #86 there is no timings showed.

Timeline shows durations which looks believable but there is no any numbers available
![2016-01-08 11-56-23 developer tools - https cit1-prototype evolutiongaming com mobile](https://cloud.githubusercontent.com/assets/1861546/12195336/1b45c7fe-b5ff-11e5-9a76-

[2016-01-13 08:57] warapitiya opened #132 "Run 2 proxies in 2 different ports"
Trying to run 2 different ios-webkit-debug-proxies in different port parallel. but 1st one get running and the 2nd gives me an error.

[code]

[2016-02-07 23:22] jacksonrayhamilton commented on #63
I tried `ios_webkit_debug_proxy -f chrome-devtools://devtools/bundled/inspector.html` at fec01df5d0c637e3ac52c3a8c1ad4efa0862f3d1 with Chromium "Version 48.0.2564.82 Built on Ubuntu 14.04, running on LinuxMint 17 (64-bit)," and debugging JS code worked for me.

[2016-02-17 22:49] pkvelu007 opened #133 "installing ios-webkit-debug-proxy on mac OS X 10.11.13"
Hi,

When I am trying to install ios-webkit-debug-proxy  on OSX 10.11.13 using the command brew install os-webkit-debug-proxy --- I am facing following issue ---

""""""
Warning: You are using OS X 10.11.
We do not provide support for this pre-release version.
You may encounter build failures or other breakage.
==> Installing dependencies for ios-webkit-debug-proxy: openssl, libimobi
==> Installin

[2016-02-18 20:37] artygus commented on #133
@pkvelu007 did you try `brew update`?

[2016-02-24 15:39] MrOutput commented on #115
@artygus  thank you

[2016-02-26 22:18] rosesandhello commented on #131
The websocket messages sent by IWDP appear to have a different timing format than those sent from an Android device.

For example, here are two Network.responseReceived messages from an Android and iPhone, respectively:

[code]

[code]
I believe I will try to modify the messages directly, but documentation is pretty sparse for what the iOS timing numbers actually mean.

[2016-02-26 22:35] auchenberg commented on #131
Hi @r00ger

There's an effort going on in https://github.com/artygus/devtools-compat-proxy, to "map" the API and data differences between Webkit and Chrome, after the connection has been created, which is handled by this project.

Would be cool, if you could cross-post the issue, as I think it's more likely to get implemented in https://github.com/artygus/devtools-compat-proxy than here.

[2016-03-10 12:12] ziczhu opened #135 "Cannot detect web pages on Simulator."
Hi,
We use ios-webkit-debug-proxy to do some tests on both Simulaor and Real Device.
Real Device always works well, but Simulator does not act the same on different machine.
We have 10 MacBook (pro/air/mini) , but two of them could not detect webpages when using Simulator.
The OS version is almost the same. 10.11.2/10.11.3.
Has anybody met the same problem? or give me some advices?
Thanks a lot!

[2016-03-10 12:20] artygus commented on #135
@ziczhu make sure you have the latest iwdp version on both devices, also simulator should be started before the proxy

[2016-03-11 03:20] ziczhu commented on #135
@artygus Thanks for quick replying. we all use the latest version(1.6) and start the simulator before the proxy, but it just didn't work.

[2016-03-11 07:42] ziczhu commented on #135
After compared the info of port 27753, we found on some machine, there is no connection established between iwdp and 27753, and there is no webinspectord process after starting iwdp.

[2016-03-11 08:40] artygus commented on #135
@ziczhu webinspector process should be started by a simulator, btw do you have the webinspector switch enabled in a simulator (Settings -> Safari -> Advanced -> Web Inspector)?
and what lsof -i :27753 shows?

[2016-03-11 10:15] ziczhu commented on #135
@artygus Yes, Web Inspector had enabled.
[code]
But lsof cannot see the iwdp connecting to the 27753.
I saw the code in [ios_webkit_debug_proxy.c](https://github.com/google/ios-webkit-debug-proxy/blob/c68c3f683bff4a597dcf67a680a8526568cb33ca/src/ios_webkit_debug_proxy.c#L405).
Maybe in some cases, Simulator cannot start webinspector for unknown reason.

[2016-03-11 14:10] artygus commented on #135
@ziczhu lsof output looks fine, btw I also have 10.11.3
but what `sudo tcpdump -i lo0 -Xs 0 'port 27753'` shows?
just to confirm, you don't see simulator there http://localhost:9221/ and nothing here http://localhost:9222/ either?

[2016-03-12 08:44] ziczhu commented on #135
@argelius  yes, we cannot see simulator on 9221/9222.
And this maybe the special case cause we try idwp  on ten diferent macbooks, most of them works as expected, only two of them cannot see simulator.
By using tcpdump. I found something wired, even the process is listening on port 27753.
When iwdp wanna connect to that port. Apparently, the connection is refused by 27753.

[code]
Then, i try to u

[2016-03-12 08:57] artygus commented on #135
@ziczhu ipv6 should has preference over ipv4
do you have "::1 localhost" record in /etc/hosts?

[2016-03-12 09:08] ziczhu commented on #135
@artygus no, i haven't.
And it works after i append  "::1 localhost" in /etc/hosts.
Thanks u!

[2016-03-12 09:08] #135 closed

[2016-03-12 09:21] artygus commented on #135
@ziczhu welcome! thanks for the report, it's surely not obvious stuff

[2016-03-14 02:48] xudafeng commented on #135
Thanks for reporting.

[2016-03-16 22:15] auchenberg opened #136 "Ship prebuilt binaries on NPM?"
In order to simplify the installation of this wonderful component I've been thinking if a similar model to https://github.com/electron-userland/electron-prebuilt to be adapted?

Provide prebuild binaries via NPM instead relying on OSX-specific homebrew?

This could be interesting, specially if @artygus plans to merge in his https://github.com/artygus/ios-webkit-debug-proxy-win32 fork.

[2016-03-16 23:17] artygus commented on #136
@auchenberg looks good, but I don't think win32 port will ever be merged into main branch, because it relies on libimobiledevice libraries and it doesn't look like those guys are really interested in win32 platform (though parts of the libraries code is win32-compatible). I decided to go with mingw builds, and it's almost there, just need a minor tweaks https://github.com/google/ios-webkit-debug-p

[2016-03-16 23:22] auchenberg commented on #136
Doesn't this non-win32 already rely on `libimobiledevice`, per https://github.com/google/ios-webkit-debug-proxy/blob/master/configure.ac#L18?

[2016-03-16 23:56] artygus commented on #136
It is for sure and libimobiledevice successfully builds with mingw. Ah yes, just thought electron-prebuilt is used for different purpose. It's too late here, need some sleep.

[2016-03-17 00:17] auchenberg commented on #136
Alrighty. Sleep tight @artygus :zzz: :sleeping:

[2016-03-17 00:21] artygus commented on #136
Thanks @auchenberg  :sleepy:

[2016-03-23 00:08] en90 commented on #61
I had a similar problem on Fedora 23 and after some reading I figured it might be due to the version of libimobiledevice installed by dnf being a bit too old. I built libimobiledevice from source https://github.com/libimobiledevice/libimobiledevice and then I rebuilt ios-webkit-debug-proxy as follows so as not to use the libimobiledevice version installed by dnf (which I keep because removing it w

[2016-03-25 18:21] auchenberg opened #137 "Add screencasting support"
Chrome DevTools supports [screencasting](http://blog.chromium.org/2013/12/chrome-devtools-for-mobile-emulate-and.html) of the screen of the attached device.

[![ScreenShot](http://img.youtube.com/vi/Q7rEFEMpwe4/maxresdefault.jpg)](http://youtu.be/Q7rEFEMpwe4)
#### How

It should be possible to get a screen stream from connected iOS devices via https://github.com/WPO-Foundation/xrecord, where the f

[2016-03-28 15:45] brandonros commented on #133
Slightly similar issue. Same OS version, can't compile/install.

I ran `brew update`, then `brew install ios-webkit-debug-proxy` and got this

[code]

[2016-03-28 15:45] brandonros commented on #133
A quick Google search shows that my Xcode is outdated. My apologies!

[2016-04-08 10:00] tregusti commented on #137
I would really like to have this functionality added too!

[2016-04-13 00:53] jdomeara opened #138 "Package requirements unmet on Ubuntu 14.04"
After I run ./autogen.sh, I get the following error message:

[code]

I tried installing the updaed packages from http://www.libimobiledevice.org/ but that does not seem to solve anything. Has anyone been able to solve this issue?

[2016-04-13 03:27] ruanhao commented on #115
there is a shield on the address bar in Chrome, what to do when it is Safari ? How to setup?

[2016-04-15 08:58] qLb commented on #38
Linux ios7 trust issue is still a major problem...

[2016-04-18 13:37] jrbeaudoin commented on #138
Hi @jdomeara!

I followed this tutorial and it worked perfectily:
http://askubuntu.com/a/672018/531745

Hope it helps.

[2016-04-26 13:12] tommyJS commented on #82
The comment of @Afforess is [marked](https://github.com/google/ios-webkit-debug-proxy#could-not-start-comapplewebinspector-success) as the solution, however, it does not work in my case.
I invoked `apt-get purge libimobiledevice*` both in Linux Mint Rosa 17.3 and Ubuntu LTS 16.04.  In these systems the result was that I could not login to my system once again - some stuff regarding gnome session w

[2016-04-26 14:04] Afforess commented on #82
@tommyJS sounds like it purged the entire desktop set of packages, which is bad.

I haven't  tried this in a little while. Looking back at what I remember, I think you could get away with leaving the package installed, but overwriting the binaries in /usr/lib with compiled copies. This is sort of a bad practice, but so is packaging libimobiledevice wrong...

I really can't give any better advice o

[2016-04-28 05:31] kiwiot opened #139 "Unable to run make previous declaration of 'idevice_connection_get_fd'"
Not sure where to start to fix this issue.

`webinspector.c  -fPIC -DPIC -o .libs/webinspector.o
webinspector.c:57:11: error: conflicting types for 'idevice_connection_get_fd'
 wi_status idevice_connection_get_fd(idevice_connection_t connection,
           ^
In file included from /usr/local/include/libimobiledevice/installation_proxy.h:33:0,
                 from webinspector.c:18:
/usr/local/incl

[2016-05-07 06:35] SrinivasanTarget commented on #136
@artygus @auchenberg Any update on this? Any ETA?

[2016-05-08 02:08] auchenberg commented on #136
At Microsoft we are shipping our "protocol adapter" for Edge via NPM. https://github.com/Microsoft/edge-diagnostics-adapter.

Makes it super easy to be consumed from node projects.

[2016-05-08 09:22] SrinivasanTarget commented on #136
@auchenberg Ok when are we going to do the same for ios-webkit-debug-proxy? It would be easy for node projects like appium depending on this repo.

[2016-05-09 20:45] BrandKNY commented on #139
Also experiencing this same issue: Ubuntu 14.04 (following mainly from [this guide](http://askubuntu.com/questions/598940/libimobiledevice-1-2-ios-8-support-for-ubuntu-14-04-trusty/712154#712154) ). Anyone have some feedback or recommendations? Will explore the issue myself and post back if I figure something out.

[2016-05-10 19:27] HOYS commented on #139
Also experiencing this issue on Ubuntu 14.04 VM.

[2016-05-14 07:59] tommyJS commented on #139
+1 Ubuntu 16.04 LTS

[2016-05-14 11:59] artygus commented on #139
should be fixed with #141

[2016-05-14 11:59] #139 closed

[2016-05-16 10:58] tommyJS commented on #82
@Afforess, thank you. You are right that I cannot purge libimobiledevice, because it deletes the entire desktop set of packages and you are right that symlinking binaries from `/usr/local/lib` to `/usr/lib` resolves the problem.

However, applying this solution causes [this problem](https://github.com/google/ios-webkit-debug-proxy#could-not-connect-to-lockdownd). I trusted the device a few times a

[2016-05-16 13:43] Afforess commented on #82
@tommyJS thanks for the update. I edited my previous comment and removed the steps involving purging libimobiledevice, hopefully that prevents future users from falling into the same trap you did.

I didn't see any issues with lockdownd when I did this, but that was because my device was configured without a passcode or touch id. I would suggest disabling both and trying again.

[2016-05-26 12:49] GeneGenie opened #142 "IOS 9.3.2 could not connect to lockdown"
Ubuntu 14.04
1. IOS safari inspector enabled
2. Trust confirmation accepted
   BUT

[code]

[code]

[code]

[2016-06-01 21:53] joaopedroms22 opened #143 "ios-webkit-debug-proxy get random disconnects from Safari on physical device with error"
Hi,
I'm running  some tests in parallel on several iOS device at once.
I'm running the tests through Selenium Grid.
My config is this:

Appium - 1.5.2
iOS devices - from 8.4.1 to 9.3.2 versions
ios webkit debug proxy - 1.6
OS X El Capitan - 10.11.4
Xcode - 7.3.1 (7D1014)

I already double checked if my dependencies are all up date.
I checked this dependencies:
libusb - 1.0.20
libplist - 1.12
usbmu

[2016-06-14 22:18] rosesandhello commented on #11
This issue does not appear to be completely resolved. The upper limit now seems to be around 16K and seems to apply to both incoming and outgoing messages.

[2016-06-16 07:24] dania-ru opened #144 "It doesn't work with ios10."

[2016-06-16 09:51] artygus commented on #144
any errors?

[2016-06-16 16:00] dania-ru commented on #144
I'm running ios-webkit-debug-proxy on Windows.
When I try to send a command to device from my machine's browser (for example: {"id":1,"method":"Page.navigate","params": {"url":"http://www.google.com/"}}), the webpage reloads on the device, showing the error message "A problem occurred with this webpage so it was reloaded". Looking at the traffic I see that webkit debug proxy receives the following

[2016-06-17 10:30] KrazySush opened #145 "Could not connect to lockdownd. Exiting.: Undefined error: 0"
Hi,
I am getting error while starting ios-webkit-debug-proxy as:
**Could not connect to lockdownd. Exiting.: Undefined error: 0**
.
.
**Unable to attach \<Device UDID\> inspector**

I have following configuration:
MAC OS X El Capitan v10.11.5
Xcode 8 beta
iTunes 12.4.1
iPhone 6+  iOS 10.0 beta

It is working fine for other iOS versions below 10.0 beta.

Need help.

[2016-06-17 14:35] peresbruno commented on #142
Hi!

Same problem here.

[2016-06-17 18:41] AndrewHenderson opened #146 "Timeline and Profiling Not Working on iOS Simulator"
Breakpoints work, however profiles never load in both the Profiles tab and the Timeline.

![chrome_dev_tools](https://cloud.githubusercontent.com/assets/1031565/16161066/6d2ab048-3480-11e6-9c79-9410a2dcb7d8.gif)

[2016-06-17 19:12] artygus commented on #146
it won't load b/c safari and chrome inspector protocols diverged

[2016-06-17 19:12] #146 closed

[2016-06-23 17:53] rosesandhello opened #147 "Console input ~>16KB causes websocket disconnect"
On entering ~>16KB into the console, IWDP invariably disconnects.

Attached is a (very large -- apologies) debug log of exactly the time of such an occurrence.

(and if someone could direct me on how to provide more useful logs, I'd appreciate it)

[console_crash_debug.txt](https://github.com/google/ios-webkit-debug-proxy/files/330536/console_crash_debug.txt)

This also appears to be the case in i

[2016-06-23 22:49] artygus commented on #147
hi @rosesandhello, what OS do you use and I'm wondering if you built utility from source?

[2016-06-23 22:56] artygus commented on #143
looks like you're using old version, did you build it from sources?

[2016-06-23 22:59] artygus commented on #138
looks like missing package version, thus the issue is not related to the utility

[2016-06-23 22:59] #138 closed

[2016-06-23 23:00] #133 closed

[2016-06-23 23:12] artygus commented on #131
Timing are not shown because safari and chrome inspector protocols diverged too much. Unfortunately I don't have enough free time to support devtools-compat-proxy

[2016-06-23 23:12] #131 closed

[2016-06-23 23:15] artygus commented on #130
Yeap, you're right

[2016-06-23 23:15] #130 closed

[2016-06-23 23:18] artygus commented on #123
this is because safari and chrome dev tools protocols diverged too much and what you see is a result of keeping old devtools alive, you can try bundled devtools in this case, e.q. `chrome-devtools://devtools/bundled/inspector.html?ws=localhost:9222/devtools/page/1`

[2016-06-23 23:18] #123 closed

[2016-06-23 23:19] artygus commented on #118
idevice_id is not a part of ios-webkit-deub-proxy utility, please report the issue to libimobiliedevice

[2016-06-23 23:19] #118 closed

[2016-06-23 23:20] artygus commented on #142
hi @GeneGenie is it still happening? did you try to plug/unplug a few times?

[2016-06-23 23:21] artygus commented on #110
Unfortunately it's not possible

[2016-06-23 23:21] #110 closed

[2016-06-24 05:29] GeneGenie commented on #142
Yes. Many times.

пятница, 24 июня 2016 г. пользователь Arty Gus написал:

[2016-06-24 08:19] EliyahuStern commented on #144
I have similar issues with iOS 10 Beta 1 too

[2016-06-24 08:23] EliyahuStern commented on #144
I am getting this error message:
Invalid message _rpc_reportConnectedDriverList: <dict>
	<key>WIRDriverDictionaryKey</key>
	<dict>
	</dict>
</dict>

[2016-06-24 09:03] cheatnsutar008 commented on #144
Invalid message _rpc_reportConnectedDriverList: <dict>
    <key>WIRDriverDictionaryKey</key>
    <dict>
    </dict>
</dict>
Same for me. Maybe issue with libimobiledevice?

[2016-06-24 16:51] rosesandhello commented on #147
OSX 10.11 and Homebrew. I'll give a go to building it.

[2016-06-24 20:45] artygus commented on #147
if it's homebrew try to reinstall it

    brew update
    brew upgrade ios-webkit-debug-proxy

[2016-06-24 20:46] artygus commented on #144
I'll look into it

[2016-06-24 20:46] artygus commented on #142
what os version do you use?

[2016-06-24 20:51] artygus commented on #144
@cheatnsutar008 it may be, but in this case `_rpc_reportConnectedDriverList` is simply not handled by the utility and it's not the only problem, need to do some reasearch

[2016-06-24 20:54] rosesandhello commented on #147
Already the latest version, I'm afraid.

[2016-06-24 21:17] artygus commented on #147
That's really strange, sounds like very old issue, but I'll take a look. If I find the reason, I'll let you know. Are you using chrome bundled front-end? And just curious why do you use the utility instead of safari inspector? Chrome dev tools are way better but blink/webkit dev protocols diverged so much that chrome dev tools are barely working with ios

[2016-06-24 22:46] rosesandhello commented on #147
I am using a relatively new front end, and I do see the communication failings (I am still considering contributing to the compat layer), but this really does more seem to be IWDP. I might give serious consideration to using the Safari utility.

[2016-06-27 15:16] joaopedroms22 commented on #143
hi @artygus ,

yes I builted from source, I've tried everything with no luck in any.
Some tip?

Regards

[2016-07-06 09:31] marek-saji opened #149 "Error while compiling: recipe for target 'webinspector.lo' failed"
I’ve followed the install instructions from https://github.com/google/ios-webkit-debug-proxy#installation, but unfortunately build fails.

[code]

[2016-07-07 08:51] artygus commented on #129
Sounds like libimobiledevice problem, please report to http://github.com/libimobiledevice/libimobiledevice if problem persists.

The only cache I could think of is lockdown dir `/var/db/lockdown` on OS X, `/var/lib/lockdown` on Linux

[2016-07-07 08:51] #129 closed

[2016-07-07 08:55] artygus commented on #88
should be fixed with 8a90693a4fbd86f0c320c83954d6790b63381334

[2016-07-07 08:55] #88 closed

[2016-07-07 08:57] artygus commented on #74
sounds like libimobiledevice problem, please report to https://github.com/libimobiledevice/libimobiledevice

[2016-07-07 08:57] #74 closed

[2016-07-07 09:00] artygus commented on #116
closing this one up, no reply from OP

[2016-07-07 09:00] #116 closed

[2016-07-07 15:09] marek-saji commented on #149
Thanks a bunch, version 1.6 works like a charm. :smile:

[2016-07-07 15:09] #149 closed

[2016-07-07 23:51] artygus commented on #147
should be fixed with https://github.com/google/ios-webkit-debug-proxy/pull/148

[2016-07-07 23:51] #147 closed

[2016-07-08 16:42] bobjohnbob opened #151 "webinspector.c:50:25: error: implicit declaration of function ‘idevice_connection_get_fd’"
I tried to follow the linux install instructions in your readme.  When I ran `make` I got the following error:

[code]
I am running ubuntu 16.04.

Checking out commit f10c708f0a16ce4ede62516fd715f519a97f348a seems to have worked around the problem.  I figured this out by looking at the commit log:

[code]
I'm not sure how to actually fix the issue, but I thought you might want to know there is one

[2016-07-08 17:38] artygus commented on #151
version from master branch should be built with libimobildevice from HEAD https://github.com/google/ios-webkit-debug-proxy/issues/149

[2016-07-08 17:38] #151 closed

[2016-07-08 17:56] artygus commented on #145
ios 10.0 beta is not supported yet https://github.com/google/ios-webkit-debug-proxy/issues/145

[2016-07-08 17:56] #145 closed

[2016-07-11 07:25] KrazySush commented on #145
@artygus Hi,
Any idea, by when the support will be available for iOS 10 beta?

[2016-07-12 20:03] BrunoSalerno commented on #142
Exact same problem here. Also, iOS 9.3.2 and Ubuntu 14.04.

[2016-07-19 06:17] OuyangQianba commented on #149
@artygus  Hi, can you tell me what is build libimobiledevice from HEAD ? or where can I learn more about it . Thinks.

[2016-07-19 08:53] marek-saji commented on #149
I’m guessing he means that you have to get current version of https://github.com/libimobiledevice/libimobiledevice and build it by hand instead of using version from your system’s package manager.

[2016-07-30 11:18] SrinivasanTarget commented on #143
@artygus We at ```Appium``` [https://github.com/appium/appium/blob/master/bin/ios-webkit-debug-proxy-launcher.js] suggests our users to use ```ios-webkit-debug-proxy``` for safari automation on iOS real devices. I see many of the issues are related to random disconnect of  ```ios-webkit-debug-proxy```.I see ```ios-webkit-debug-proxy``` has a tremendous use case behind web automation support.Would

[2016-07-30 11:21] SrinivasanTarget commented on #136
@auchenberg Any update on this?

[2016-08-01 10:41] artygus commented on #144
iOS 10 should be handled now, but you need to build from HEAD

[2016-08-01 10:41] #144 closed

[2016-08-01 21:23] skumar1122 commented on #143
Hello @artygus

Srinivas , FYI

I used before ,iwdp like this :
ios_webkit_debug_proxy -c UDID:27755 -d and have seen devices disconnected error.

And I started using iwdp from appium bin :
/bin/ios-webkit-debug-proxy-launcher.js -c udid:27753 -d
it seems to work great where you cannot get disconnected any devices but sometimes when ur running multiple tests its gets hung up and only can see apple

[2016-08-02 08:35] SrinivasanTarget commented on #143
@skumar1122 I'm aware of the alternative solutions you have provided.But still those are not stable at times.That's the reason i have raised it here.

[2016-08-16 17:28] MSLaguana opened #152 "Unable to specify which simulator to connect to"
When running in a multi-user environment, two users may have different instances of the iOS simulator open at the same time. As far as I can tell there isn't a way to select the iOS simulator to connect to, `ios-webkit-debug-proxy` just picks one and not necessarily one owned by the current user.

Is there a way to work around this?

[2016-08-16 17:43] mohsen1 opened #153 "CSS is read only and DOM APIs are not working from console"
My setup:

[code]

Physical iPhone with iOS 9.3.4

Chrome version  52.0.2743.

Devtools frontend:

[code]

Issue:

the CSS is read only
![screen shot 2016-08-16 at 10 40 39 am](https://cloud.githubusercontent.com/assets/543633/17709435/e79045b8-639d-11e6-9b17-61324a9fe13c.png)

DOM APIs are not working:

[code]

[2016-08-16 18:57] artygus commented on #153
The issue is related to diverged Chrome and Safari protocols, not going to be fixed. The purpose of the tools is to proxy requests to safari devtools through websocket protocol

[2016-08-16 18:57] #153 closed

[2016-08-16 19:01] artygus commented on #152
No, there's only one instance os simulator connected through localhost:27753. You would experience with Safari devtools, only one simulator would be listed in device list

[2016-08-16 19:01] #152 closed

[2016-08-18 10:07] RhinoLu opened #154 "UIWebViews no show"
Hi,

iOS Safari shows on localhost:9222 correctly,
but iOS Chrome or other UIWebView missing.

This tool still support UIWebView debug ?

Mac 10.11.6, iOS 9.3.4

Regards

[2016-08-18 11:22] nghiadhd commented on #143
@artygus
Seem I found a root cause

In Normal behavior, after sending "_rpc_forwardGetListing", the ios-webkit-debug-proxy expects that it will receive 2 messages

[code]

However Abnormal behavior, the ios-webkit-debug-proxy got 2 same messages and then got a message with unknown app_id

[code]

Currently, I workaround it by resend "_rpc_forwardGetListing" if Unknown App_id and it works like a ch

[2016-08-18 17:30] artygus commented on #143
Hi @nghiadhd thanks for the observations! I'll take a closer look this weekend

[2016-08-18 17:32] artygus commented on #154
Hi @RhinoLu there already was a similar question here #110, unfortunately it's not possible other UIWebViews because iOS doesn't expose them to WebInspector

[2016-08-18 17:32] #154 closed

[2016-08-18 17:42] artygus commented on #143
@nghiadhd or in case you've already implemented it you're welcome to open a PR

[2016-08-21 23:31] artygus commented on #143
was able to reproduce the issue, currently working on the fix based on what nghiadhd solution

[2016-08-21 23:35] SrinivasanTarget commented on #143
Sounds good

On Mon 22 Aug, 2016, 5:01 AM Arty Gus, <notifications@github.com> wrote:

[2016-08-22 04:04] nghiadhd commented on #143
I have just made PR
I fixed for my local and confirm it works on 6 devices in parallel, you can refer my solution, merge or just close it if you found the better way

https://github.com/google/ios-webkit-debug-proxy/pull/155

[2016-08-22 18:23] artygus commented on #143
@nghiadhd merged now, thanks! 👍

[2016-08-22 18:23] #143 closed

[2016-08-22 18:33] SrinivasanTarget commented on #143
Thanks @nghiadhd. Also @artygus may i know when this will be available in ```brew```.

[2016-08-22 18:36] artygus commented on #143
@SrinivasanTarget you can get in brew with `--HEAD` flag

[2016-08-25 01:54] c0gupr2 opened #156 "Getting error when trying to compile code using ./autogen.sh"
Hi,

I am getting an error when trying to compile code using command ./autogen.sh.
Can somebody please provide a solution for this?

./configure: line 15991: syntax error near unexpected token `libusbmuxd,'
./configure: line 15991: `PKG_CHECK_MODULES(libusbmuxd, libusbmuxd >= $LIBUSBMUXD_VERSION)'

Thanks,
Rohit Gupta

[2016-08-25 03:54] c0gupr2 commented on #156
I am able to resolve above issue and now stuck with below problem

/Users/bachupa/Downloads/Xcode-beta.app/Contents/Developer/usr/bin/make  all-recursive
Making all in common
  CC       debug.lo
In file included from debug.c:36:
../src/idevice.h:30:10: fatal error: 'openssl/ssl.h' file not found
#include <openssl/ssl.h>
         ^
1 error generated.
make[2]: *** [debug.lo] Error 1
make[1]: *** [al

[2016-08-25 18:42] artygus commented on #156
look's like OpenSSL headers were removed in the 10.11 SDK, you can try

    brew install openssl

[2016-09-01 14:41] ivasylchenko commented on #156
@c0gupr2
what was the fix for initial issue (libusbmuxd,)?

[2016-09-06 01:50] tsekityam opened #157 "The link to Google BSD License links to 404"
Google BSD License is removed from https://code.google.com/google_bsd_license.html, and I think  that the license is placed in https://developers.google.com/google-bsd-license now

[2016-09-06 07:20] #157 closed

[2016-09-06 12:31] itrmit commented on #149
/usr/local/Cellar/libimobiledevice/1.2.0 is my current version,
but got error: implicit declaration of function 'idevice_connection_get_fd' is invalid in C99

[2016-09-06 12:32] itrmit commented on #151
Hi  artygus,
/usr/local/Cellar/libimobiledevice/1.2.0 is my current version
but still got error: implicit declaration of function 'idevice_connection_get_fd' is invalid in C99

can you help me?

[2016-09-06 18:59] artygus commented on #151
@itrmit something definitely wrong, you should have `/usr/local/Cellar/libimobiledevice/HEAD/` folder, not `/usr/local/Cellar/libimobiledevice/1.2.0`

[2016-09-06 19:01] artygus commented on #151
I think I'll rollback #141 until libimobiledevice 1.2.1 is out to workaround the issue

[2016-09-07 17:38] yaphatak commented on #144
@artygus : When we can install this via brew install...?

[2016-09-07 18:58] artygus commented on #144
@yaphatak it's possible right now with `brew install --HEAD`

[2016-09-07 19:42] yaphatak commented on #144
Thanks I will give a try.

[2016-09-13 21:44] artygus commented on #65
closing the issue as it's related to dependent libraries

[2016-09-13 21:44] #65 closed

[2016-09-13 21:49] artygus commented on #132
@warapitiya can you confirm you tried custom devices ports? e.g.
- first instance `ios_webkit_debug_proxy`
- second instance `os_webkit_debug_proxy -c null:9321,:9322-9332`

[2016-09-14 08:54] Can-too opened #160 "Could not connect to lockdownd. Exiting Permission denied"
I have installed the XCode upgrade to my iOS 7.3.1, to run my existing IPhone Appium Tests using iOS 10. The some of my real mobile devices have also been upgraded but Since the upgrade to XCode my browser app tests all devices are failing. The ios-webkit-debug proxy has been having the same issue:

Could not connect to lockdownd. Exiting Permission denied.
Unable to attach <udid> inspector.

I ha

[2016-09-14 09:43] srsamarthyam commented on #142
Set the permissions for /var/db/lockdown folder.

[2016-09-14 15:19] artygus commented on #160
@Can-too I have Beta version of XCode installed but it works quite fine, you could try installing libimobildevice from master

    brew uninstall --force libimobiledevice ios-webkit-debug-proxy
    brew install --HEAD libimobiledevice ios-webkit-debug-proxy

[2016-09-15 14:55] SrinivasanTarget commented on #143
Hi @artygus I'm getting No head is defined error.

[2016-09-15 20:34] artygus commented on #143
@SrinivasanTarget a couple of days ago updated version of ios-webkit-debug-proxy was published to brew, please try `brew update && brew upgrade ios-webkit-debug-proxy`

[2016-09-16 00:03] Can-too commented on #160
Many thanks for the response, unfortunately the install didn't work with the --HEAD parameter. It did work without it.... (Message: No head for the ios-webkit-debug-proxy.) Unfortunately this this has not helped and I'm getting the same message....

[2016-09-16 00:04] rjmadhu commented on #160
@artygus
No head is defined for  ios-webkit-debug-proxy
brew install --HEAD libimobiledevice
brew install  ios-webkit-debug-proxy

[2016-09-16 05:35] Can-too commented on #160
okay that worked, with using the disk utility (sudo diskutil repairPermissions /). seems to have rectified the previous problems but now I cannot connect to the device and have the following message:

Invalid message _rpc_reportConnectedDriverList: <dict>
      <key>WIRDriverDictionaryKey</key>
      <dict>
      </dict>

Any suggestions?

[2016-09-16 14:36] artygus commented on #160
@rjmadhu thanks, it's probably because I rolled out a new version of  ios-webkit-debug-proxy  to brew recently
@Can-too `brew update && brew upgrade ios-webkit-debug-proxy`

[2016-09-18 06:07] Can-too commented on #160
Okay... So should I download again? Or when should I download?

[2016-09-18 08:54] artygus commented on #160
@Can-too I pushed a new versions of utility a few days ago to brew

[2016-09-18 23:52] Can-too commented on #160
artygus, is the command "brew update && brew upgrade ios-webkit-debug-proxy" to be used just as you have entered it? because when using it I get the message Error: /usr/local must be writeable!

Using just "brew update" I get the same message...

[2016-09-19 00:18] Can-too commented on #160
Okay got it, many thanks all !
Needed to run the following command:
`sudo chown -R $(whoami):admin /usr/local`
**then:**
- `brew update`
- `brew upgrade ios-webkit-debug-proxy`

[2016-09-19 00:18] #160 closed

[2016-09-20 21:47] yaphatak opened #161 "Could not connect to lockdownd. Exiting.: Broken pipe"
I am on 10.11.6 and ios 10.0.1, iTune 12.5.1.21

this is how `brew info ios-webkit-debug-proxy` looks like

`ios-webkit-debug-proxy: stable 1.7 (bottled)
DevTools proxy for iOS devices
https://github.com/google/ios-webkit-debug-proxy
/usr/local/Cellar/ios-webkit-debug-proxy/1.7 (19 files, 357.9K) *
  Poured from bottle on 2016-09-20 at 14:08:52
From: https://github.com/Homebrew/homebrew-core/blob/

[2016-09-20 22:53] artygus commented on #161
@yaphatak I think it's related to libimobiledevice issues, please try `brew upgrade libimobiledevice --HEAD`

[2016-09-20 22:56] yaphatak commented on #161
that did a trick. Thanks

[2016-09-20 22:56] #161 closed

[2016-09-21 14:33] aroramayank2002 commented on #144
We have our device iPhone 6s updated to IOS 10 but since then proxy is failing to connect:

Command used:
    ios_webkit_debug_proxy -c f79e0cb99fb720592ab3b956b4173b049ca69243:9226
Error:
  Could not connect to lockdownd. Exiting.: Broken pipe
  Unable to attach f79e0cb99fb720592ab3b956b4173b049ca69243 inspector

It's able to connect to devices still on IOS 9.3

[2016-09-21 17:11] artygus commented on #144
@aroramayank2002 `brew upgrade libimobiledevice --HEAD` #161

[2016-09-22 06:06] xudafeng opened #162 "webinspector.c:57:11: error: conflicting types for 'idevice_connection_get_fd' wi_status idevice_connection_get_fd"
[code]

[2016-09-22 06:11] xudafeng commented on #162
![image](https://cloud.githubusercontent.com/assets/1011681/18738429/34e807f4-80ce-11e6-84d8-9badfc96dbd8.png)

[2016-09-22 07:43] aroramayank2002 commented on #144
Thanks artygus, that is the quickest reply I have got on github.
Tried it yesterday, now it says:
Invalid message _rpc_reportConnectedDriverList: <dict>
	<key>WIRDriverDictionaryKey</key>
	<dict>
	</dict>
</dict>

Looking into it.

[2016-09-22 07:49] artygus commented on #144
hi @aroramayank2002 😄, looks like you have outdated version of utility, please try `brew update && brew upgrade ios-webkit-debug-proxy`

[2016-09-22 07:50] artygus commented on #162
hi @xudafeng, could you please try to build from libimobiledevice_idevice_connection [branch](https://github.com/google/ios-webkit-debug-proxy/tree/libimobiledevice_idevice_connection)

[2016-09-22 08:01] aroramayank2002 commented on #144
@artygus, you just broke last record for fast response.

Tried the above command here is the output:
mayank.arora$ brew update && brew upgrade ios-webkit-debug-proxy

/usr/local/Library/Homebrew/cmd/update.sh: line 12: /usr/local/Library/ENV/scm/git: No such file or directory
/usr/local/Library/Homebrew/cmd/update.sh: line 12: /usr/local/Library/ENV/scm/git: No such file or directory
/usr/local/Li

[2016-09-22 11:36] frami commented on #161
The command 'brew upgrade libimobiledevice --HEAD' solved the problem for me. I use ios10.

[2016-09-23 09:16] terminal-illness commented on #160
Hi there,

I had the same issue:

Could not connect to lockdownd. Exiting Permission denied.
Unable to attach inspector

So I ran the following:

chmod +x /var/db/lockdown

Worked for me :)

[2016-09-23 22:11] fpn opened #163 "iOS10 - can't connect to WKWebView anymore"
Was debugging WKWebView fine on my iphone before upgrading today to iOS10.
Ran into the TLS issue, and had to upgrade to:
- libimobiledevice (master/HEAD)
- libssl.so.1.1 (master/HEAD)
- (libimobiledevice_idevice_connection/HEAD)

ios-webkit-debug-proxy can connect to safari works, but not to the WKWebView.
Using an mac laptop and safari works also with iOS 10 and WKWebView.

[code]

[2016-09-24 09:26] artygus commented on #163
hi @fpn, I didn't get it were you able to resolve the issue? The upgrades you listed are necessary indeed, because libimobiledevice is stuck on 1.2.0, not sure when the new version is going to be released

[2016-09-27 10:45] shusso commented on #162
@artygus seems to fix the issue on el-capitan for me. When can we expect to #159 get merged?

[2016-09-27 18:03] artygus commented on #162
@shusso when new version of libimobiledevice is out, I got too many complains about failing builds when rolled out the fix before

[2016-09-27 18:03] #162 closed

[2016-09-28 05:39] shusso commented on #162
@artygus thanks, yeah I can imagine.

[2016-09-28 10:22] crich1979 opened #164 "IOS 10 Can't hit a breakpoint"
As per the title we have several developers that are unable to hit breakpoints while using ios-webkit-debug-proxy connected to an IOS 10 device.

Following has been done:
brew update
brew uninstall libimobiledevice
brew install libimobiledevice --HEAD
brew uninstall ios_webkit_debug-proxy
brew install ios_webkit_debug-proxy

The connection to the device is established fine and source files are vis

[2016-09-28 20:25] artygus commented on #164
Hi @crich1979 unfortunately it's because diverged Chrome and Safari protocols, an the issue is not going to be fixed. One way around is to use older devtools. The purpose of the tools is to proxy requests to safari devtools through websocket protocol.

[2016-09-28 20:25] #164 closed

[2016-09-28 20:36] crich1979 commented on #164
OK thanks.  That really sucks but I understand.  I used it for VS code debugging of our app but we have to support ios 10 so i'm back to the the annoying safari debugger I guess.  I'll ask if the vscode-cordova guys have any plans to support it another way.

[2016-09-30 09:35] sugatmankar opened #165 "webkit releases socket for iOS10"
Appium Log :-

[code]

ios-webkit-debug-proxy log (was started on port 9226):-

[code]

[2016-09-30 18:32] mashek347 commented on #160
GNWRICA2080432:~ 502000533$ ios_webkit_debug_proxy -c a132919a4b4c2c393ea15f7860fe8ae1e3d6f1e927753
Could not connect to lockdownd. Exiting.: Permission denied
Unable to attach a132919a4b4c2c393ea15f7860fe8ae1e3d6f1e9 inspector

is not working for
Please help?

[2016-09-30 19:13] skumar1122 commented on #160
@mashek347
Try like this -
ios_webkit_debug_proxy -c a132919a4b4c2c393ea15f7860fe8ae1e3d6f1e:27753 -d

[2016-09-30 21:47] terminal-illness commented on #160
if you run sudo ios_webkit_debug_proxy -c a132919a4b4c2c393ea15f7860fe8ae1e3d6f1e:27753 -d

does that start the debug proxy? If so then changing the permission on lockdown should solve your problem

[2016-09-30 22:12] auchenberg commented on #164
I spent a little time sniffing the traffic between Chrome DevTools and Safari Web Inspector.

Let me clarify: The debugging API between Webkit and Chrome for core debugging scenarios hasn't diverged, but remains stable. This is documented in the compatibility tables: http://compatibility.remotedebug.org/Debugger

**The debugging:**

I started the `ios_webkit_debug_proxy` and connected my iPhone 7

[2016-09-30 22:12] artygus commented on #165
did you compile with libimobildevice HEAD?

[2016-09-30 23:10] fpn commented on #163
I wasn't able to debug WKWebView even with the upgrades listed above.

[2016-10-01 04:14] sugatmankar commented on #165
Yes. I have libimobildevice from HEAD. Sometimes it works sometime it
won't. Sometime on Restart machine it works again.

On Sat, Oct 1, 2016, 03:42 Arty Gus <notifications@github.com> wrote:

[2016-10-03 18:55] mayureshshirodkar commented on #143
@artygus @SrinivasanTarget
On iPhone 6S with iOS 10.0, I am initially able to connect to the iPhone via ios debug webkit.
But on trying to search for a Webview the connection breaks.

Same scenario **works well on iOS 9.3.5**.

Dependency versions:
OS X El Capitan - 10.11.6
ios-webkit-debug-proxy 1.7
libimobiledevice HEAD-00424f4
libplist 1.12
libusb 1.0.20
usbmuxd 1.0.10 1.0.10_1
ideviceinstaller

[2016-10-04 17:31] benwiley4000 opened #166 "(Linux) GnuTLS error: Error in the pull function. Could not connect to lockdownd. Exiting.: Broken pipe"
Running Ubuntu 16.04. `idevice_id -l` returns `ca77ad6...` shown below, I've got a page open in a browser tab on the iPhone, and I've made sure to "trust" the computer via the phone.
[code]

`localhost:9221` does open a web page that read "iOS Devices:," but nothing else.

[2016-10-04 17:39] artygus commented on #166
@benwiley4000 I believe it's something related to libimobiledevice, please try with version from master

[2016-10-04 17:40] artygus commented on #166
maybe https://github.com/libimobiledevice/libimobiledevice/issues/382 https://github.com/libimobiledevice/libimobiledevice/issues/365

[2016-10-04 17:40] #166 closed

[2016-10-04 17:41] #156 closed

[2016-10-04 18:11] benwiley4000 commented on #166
@artygus thanks for the tip. I've run the following:

`sudo apt-get remove libimobiledevice-dev && sudo apt-get autoremove`
`git clone https://github.com/libimobiledevice/libimobiledevice.git && cd libimobiledevice`
[code]
[code]
And I ended with the following error during `make`:
[code]
I'm having trouble debugging this and would appreciate help. Thanks!

[2016-10-04 18:16] artygus commented on #166
@benwiley4000 please try https://github.com/google/ios-webkit-debug-proxy/tree/libimobiledevice_idevice_connection branch

[2016-10-04 18:24] benwiley4000 commented on #166
@artygus thanks. I've now been able to build (hooray) but I'm getting this error when I run `ios_webkit_debug_proxy`:
[code]

[2016-10-04 18:27] artygus commented on #166
did you run `make install`?

[2016-10-04 18:29] benwiley4000 commented on #166
Yes - just ran a second time to be sure, and same error.

[2016-10-04 18:39] artygus commented on #166
looks like you have wrong shared lib,
did you install ios-webkit-debug-proxy from package the first time?

[2016-10-04 18:41] benwiley4000 commented on #166
I've installed from the GitHub master branch, and now the branch you
recommended (I did nothing to purge ios-webkit-debug-proxy before re-
autogen/make/install).

On Oct 4, 2016 2:40 PM, "Arty Gus" <notifications@github.com> wrote:

[2016-10-04 18:43] artygus commented on #166
you could try to run it from build dir, e.g. `./src/ios_webkit_debug_proxy`

[2016-10-04 18:45] benwiley4000 commented on #166
Ok - that returns the same error.

[2016-10-04 18:49] artygus commented on #166
this is weird, try to run

    make uninstall
    make clean
    ./authogen.sh
    make
    ./src/ios_webkit_debug_proxy

[2016-10-04 18:52] benwiley4000 commented on #166
Unfortunately it's the same! Perhaps this is irrelevant, but of all the packages I installed with apt-get prior to installing ios-webkit-debug-proxy, libimobiledevice is the only one I have changed/modified. Not sure if any others need to be re-built for whatever reason.

[2016-10-04 19:03] artygus commented on #166
ah, I see now, it could be `sudo make install`, to work properly you need to run `sudo make uninstall`

[2016-10-04 19:05] artygus commented on #166
ah shit, I guess you need to run `sudo ldconfig`

[2016-10-04 19:20] benwiley4000 commented on #166
@artygus I used sudo! However I just did what you asked (`ldconfig`) and magic - works! Thank you!

[2016-10-05 19:43] benwiley4000 opened #167 "(update: CSS3 animation issue) Inspector unbearably slow/sluggish, freezes"
UPDATE: Turns out this is an issue with inspecting elements that have CSS3 animations.

Running on Ubuntu 16.04.

I'm happy to have this working, but it's not very useful to me currently. I'm trying to open up the DOM tree to inspect nested elements. I'm able to get the first couple descendants which have no siblings (after several-second delays), but once I open my main content div the inspector

[2016-10-05 20:11] benwiley4000 commented on #167
I should update and note that other web pages I've visited don't have this same problem and it appears to be at least somewhat unique to the page I'm working on. However I'm not sure what would cause this behavior.

[2016-10-05 20:30] benwiley4000 commented on #167
Ok after some further testing I've realized the freezing problem is unique to elements with CCS3 animations. Commenting out the `animation-name` property in my CSS fixes the issue. Have any similar issues been reported?

Further I think the slowness I was experiencing earlier has gone away for whatever reason; it may have been a problem with my local network.

[2016-10-10 14:10] anaibol commented on #57
@luco any news about this? Could you finally edit the styles?

Thanks

[2016-10-10 14:37] artygus commented on #57
unfortunately it's because diverged Chrome and Safari protocols, an the issue is not going to be fixed. The purpose of the tools is to proxy requests to safari devtools through websocket protocol

[2016-10-10 14:37] #57 closed

[2016-10-10 22:26] nethi216 opened #168 "could not connect to lockdownd. Exiting.: Permission denied"
Hi All,

i was able to execute my appium tests on IOS mobile successfully a few weeks ago, but i didn't run any tests for about few weeks and resumed the execution today, but i'm seeing the following issue, Can you please help?

IOS Mobile - 6 Plus
Version - 9.3
Xcode version - 7.3
MAC OS - EI Captain 10.11

**Issue**
could not connect to lockdownd. Exiting.: Permission denied
ss.remove_server_fd(

[2016-10-11 12:49] imurchie commented on #168
Try running `sudo chmod 777 /var/db/lockdown` to set the permissions.

[2016-10-11 13:31] pmeenan commented on #168
I've seen recently that the lockdown permissions keep getting reset even after changing them (not sure the interval - probably on the order of close to a day last time it happened).  You might need to make the permissions change part of the prep that gets run before running a test.

[2016-10-11 13:59] imurchie commented on #168
Making sure you have the latest `libimobiledevice` helps as well.

[code]

[2016-10-11 18:55] artygus commented on #168
duplicate #160

[2016-10-11 18:55] #168 closed

[2016-10-11 19:11] nethi216 commented on #168
i did above stated things, but no luck, Can you please help me on how to changed lockdown permissions?

[2016-10-11 23:29] nethi216 commented on #142
This solution worked for me

Access this folder '/var/db/lockdown' through terminal

and then ls - l (will give you the list of plist files)

remove all plist files except 'SystemConfiguration.plist'

run this command 'sudo chmod 777 /var/db/lockdown' to set the permissions

[2016-10-12 19:26] artygus commented on #168
hi @nethi216 sorry, read it too late. I see you made it work 👍

[2016-10-12 19:27] artygus commented on #142
did proposed solution work for you @GeneGenie?

[2016-10-16 14:27] mayureshshirodkar commented on #143
@artygus @SrinivasanTarget  Any Updates on this?
Do I need to update my dependency ?

[2016-10-17 10:56] rocco commented on #50
Did you solve this meanwhile? I have the same issue on a real device (iPad).

[2016-10-20 20:33] artygus commented on #165
@sugatmankar could be fixes with #169, please try to build from head

[2016-10-24 19:19] Eccenux opened #170 "Problem running on Debian 8"
## Preparations

First I'll share some things I already figured out:
1. Kind of obvious part was that - on a clean machine - you might also need:

[code]
2. What was not obvious is that you need to set up testing repos for Debian (e.g. as described [here](http://www.binarytides.com/enable-testing-repo-debian/)).
3. And... After you install standard packages:

[code]
4. ...It was also required to r

[2016-10-25 21:25] artygus commented on #170
hi @Eccenux there was a similar issue here https://github.com/google/ios-webkit-debug-proxy/issues/82#issuecomment-74205898

[2016-10-28 17:57] mashek347 commented on #160
Still, I am facing issue.
please refer below the error code:

Launching Appium with command: '/Applications/Appium 3.app/Contents/Resources/node/bin/node' appium/build/lib/main.js --address "127.0.0.1" --debug-log-spacing --platform-version "10.0.2" --platform-name "iOS" --safari --browser-name "Safari" --show-ios-log --default-device --native-instruments-lib

[Appium] Welcome to Appium v1.5.3

[A

[2016-11-01 21:36] lexs opened #172 "Older version of the Chrome inspector doesn't work in Chrome 54"
`KeyboardEvent.keyIdentifier` was removed in Chrome 54 but is used in old version of the inspector that iwdp uses. This means that the console no longer works as the `enter` key isn't recognized.

We'll need an modified version that replaces all uses of `KeyboardEvent.keyIdentifier` with `KeyboardEvent.key`.

[2016-11-15 17:09] MarisaLovesUsAll commented on #172
Confirm.
Staying with google-chrome 53 for now.

[2016-11-21 15:46] netpoetica opened #173 "Sourcemap Support"
Is there any recommended way to wire up source maps when manually navigating to a URL like `chrome-devtools://devtools/bundled/inspector.html?ws=localhost:9222/devtools/page/1` or a plan to support source maps with this tool in the future?

[2016-11-29 03:52] PinkyJie opened #174 "Empty list shows in localhost:9221"
I try to use this proxy with iOS simulator, I open the simulator manually and open mobile safari to access a web page, and I'm sure the Web Inspect switch is ON on simulator. Then I run `ios_webkit_debug_proxy -d`, logs are showed in the following screenshot, no errors but no devices found in `localhost:9221`.

![image](https://cloud.githubusercontent.com/assets/551329/20695839/fcb6f534-b629-11e6-

[2016-11-29 03:53] PinkyJie commented on #174
macOS version: 10.11.6
Xcode version: Version 8.1

[2016-11-29 09:02] artygus commented on #174
hi @PinkyJie, can you confirm that you start simulator before the proxy?

[2016-11-29 11:30] PinkyJie commented on #174
@artygus Yes, I started simulator before the proxy.

[2016-11-29 13:22] artygus commented on #174
@PinkyJie could you please post the output of `lsof -n -i:27753 | grep LISTEN`?

[2016-11-29 13:24] artygus commented on #174
and can you confirm that `::1 localhost` line is present in `/etc/hosts`?

[2016-11-29 13:49] PinkyJie commented on #174
@artygus After I added `::1 localhost` in my hosts file, everything works fine. Thank you very much! I think this tip should be added in documentation.

[2016-11-29 13:55] artygus commented on #174
@PinkyJie actually it's in the Troubleshooting section, hehe

[2016-11-29 13:55] #174 closed

[2016-11-30 06:39] code-tree commented on #172
Any chance of this being fixed?

[2016-11-30 09:53] artygus commented on #172
The purpose of the tool is to proxy requests to safari devtools through websocket protocol. If you're using linux or windows you could use devtools extracted from webkit  https://github.com/artygus/webkit-webinspector. If you don't like webkit devtools you could stick to valence from mozilla or similar projects.

[2016-11-30 09:55] artygus commented on #173
The purpose of the tool is to proxy requests to safari devtools through websocket protocol. If you're using linux or windows you could use devtools extracted from webkit, e.g. https://github.com/artygus/webkit-webinspector. If you don't like webkit devtools you could stick to https://github.com/mozilla/valence or similar projects.

[2016-11-30 09:55] #173 closed

[2016-11-30 09:57] artygus commented on #170
Closing since no reply from author.

[2016-11-30 17:20] auchenberg commented on #172
You can use https://github.com/RemoteDebug/remotedebug-ios-webkit-adapter to enable newer versions of the Chrome DevTools front-end.

[2016-11-30 17:21] auchenberg commented on #173
You can use https://github.com/RemoteDebug/remotedebug-ios-webkit-adapter to enable newer versions of the Chrome DevTools front-end.

[2016-11-30 17:33] lexs commented on #172
@artygus The readme only mentions the Chrome inspector (which, while based on Webkit) is currently broken. The version specified here doesn't work anymore: https://github.com/google/ios-webkit-debug-proxy/blob/dcaa13922c460700a3b1212f6f6daa0bff7a17b0/src/ios_webkit_debug_proxy_main.c#L210

Please reopen this until that is fixed (or you recommend to use @auchenberg's adapter for example).

[2016-11-30 18:37] artygus commented on #172
@lexs good catch

[2016-11-30 19:50] auchenberg commented on #137
Implemented in https://github.com/RemoteDebug/remotedebug-ios-webkit-adapter

[2016-11-30 19:50] #137 closed

[2016-11-30 19:51] auchenberg commented on #20
Please see https://github.com/RemoteDebug/remotedebug-ios-webkit-adapter, which should implement the newer API's that allow CSS inspection.

[2016-12-01 02:35] code-tree commented on #172
@auchenberg that appears to require iTunes which isn't available on Linux. Any other options to resolve this? Even on Chrome 53 I can't select elements (can only expand them).

[2016-12-01 07:21] Siddh010 opened #175 "Not able to install ios-webkit-debug-proxy1.7 release version in Mac machine"
Hi I am not able to install ios-webkit-debug-proxy 1.7 release version in mac machine.

Execute below command

brew uninstall ios-webkit-debug-proxy  ( Which unstall 1.6 version )
brew install ios-webkit-debug-proxy     (will install 1.6 version instead of 1.7)
Also Tried with brew install ios-webkit-debug-proxy-1.7  but failed ..

==> Downloading https://homebrew.bintray.com/bottles/ios-webkit-de

[2016-12-01 10:11] artygus commented on #172
@code-tree it doesn't require iTunes, [usbmuxd](https://github.com/libimobiledevice/usbmuxd) should be sufficient. You could also use devtools frontend from webkit sources

[2016-12-01 10:12] artygus commented on #175
Hi @Siddh010 please try

    brew update
    brew upgrade ios-webkit-debug-proxy

[2016-12-01 21:01] auchenberg commented on #172
@code-tree The adapter hasn't been tested in Unix, but feel free to open a PR with the changes needed. Sounds like it's pretty straightforward.

[2016-12-02 06:10] Siddh010 commented on #175
Thank you .. I am able to update 1.7 version now.

[2016-12-02 06:11] #175 closed

[2016-12-03 13:00] Eccenux commented on #170
Just for the record - comment from issue #82 doesn't seem related or I failed to see how that helps.

I was not able to really start the webinspector (seems like the message misleading says "success" while it is not fully started). And I'm assuming this is why I cannot see my device on the list.

[2016-12-03 13:10] artygus commented on #170
@Eccenux `idevice_id` comes with libimobiledevice, could you try installing it and try `idevice_id -l` once again? Issue doesnt look related to iwdp to me, more like troubles with libimobiledevice

[2016-12-05 09:26] Eccenux commented on #170
Hm... So this makes `idevice_id -l` work:
[code]

BUT there is still a problem with connecting to device.

Are there some logs I could check?

[2016-12-05 23:27] artygus commented on #170
but does `idevice_id -l` shows your device? I think the express solution is to remove existing apt-packages and rebuild usbmuxd, libusbmuxd, libimobildevice and ios-webkit-device-proxy from sources and see if it works

[2016-12-06 09:11] kdziurdz opened #176 "Device is connected but debugging isn't working"
Hello, I wanted to use iwdp to debug my webap which isn't displayed properly on iPad. I'm using windows 10 and ios-webkit-debug-proxy-win32

When i go to `http://localhost:9221/`,

my device is displayed but it does not connect. nothing happens when i go :9222

All I did till now:
-turned on web inspection in iPad
-downloaded and ran iTunes
-connected iPad to my PC and choose "Trusted" when asked

[2016-12-06 12:22] artygus commented on #176
hi @kdziurdz could you please checkout [x64 build](https://sourceforge.net/projects/ios-webkit-debug-proxy-win32/files/ios-webkit-debug-proxy-win64.zip/download), it has the latest changes from original repository

[2016-12-06 13:58] programmin1 commented on #176
Have you tested an iOS9 device or older? Because they broke connecting it to a PC with libimobiledevice in iOS10, you may need to recompile libimobiledevice :(

[2016-12-06 14:10] artygus commented on #176
@programmin1 the x64 build includes changes from libimobiledevice

[2016-12-06 16:08] kdziurdz commented on #176
x64 build still doesn't work but it is much better :D
iOS ver 9.3.5. it still asks me for update

now, in localhost:9222

[code]
but after clicking the url

`Unable to connect to chrome-devtools-frontend.appspot.com:80`

btw. I use ngrok to tunnel my local webapp outside. I found it more stable than localtunnel

[2016-12-07 03:33] artygus commented on #176
@kdziurdz proxying devtools through localhost is kind of broken on windows, you could try to navigate to `chrome-devtools://devtools/bundled/inspector.html?ws=localhost:9222/devtools/page/1` directly. But latest chrome devtools hardly work with recent iOS versions, you could try using [RemoteDebug/remotedebug-ios-webkit-adapter](https://github.com/RemoteDebug/remotedebug-ios-webkit-adapter) or web

[2016-12-19 09:11] dcaric opened #177 "Doesn't work with iOS10+"
I have devices on iOS10.1 and iOS10.2 and also on some older like 7.x
I have also precompile libimobilledevice library using
- clone from git https://github.com/libimobiledevice/libimobiledevice
- CFLAGS=-I/usr/local/opt/openssl/include LDFLAGS=-L/usr/local/opt/openssl/lib ./configure
which forces to ouse openssl instead favoured Apple's TLS
- than make and make install

and I got these commands w

[2016-12-19 12:22] artygus commented on #177
Hi @dcaric looks like permissions problems, please check the thread https://github.com/google/ios-webkit-debug-proxy/issues/160, hope it helps

[2016-12-19 13:48] dcaric commented on #177
You mean chmod +x /var/db/lockdown ?
No, I gave that before and several times. This is (I think) something new

[2016-12-19 14:00] artygus commented on #177
k, does `idevicename -d` shows the error code?

[2016-12-19 14:07] artygus commented on #177
I see now you posted that it works, then it looks like iwdp utility might be using old libraries, because it makes the same `lockdownd_client_new_with_handshake` call as `idevicename` does, could you confirm that you rebuilt iwdp after buidling libimobiledevice from master?

[2016-12-19 14:10] dcaric commented on #177
Yes that's what I thought. I was trying to rebuild from source but for now I have to figure how to solve this
make....
libtool: link: gcc -I/usr/local/include -I/usr/local/Cellar/usbmuxd/1.0.10_1/include -I/usr/local/include -I/usr/local/include -g -O2 -Wall -Werror -o ios_webkit_debug_proxy ios_webkit_debug_proxy-ios_webkit_debug_proxy_main.o ios_webkit_debug_proxy-base64.o ios_webkit_debug_proxy

[2016-12-19 14:22] artygus commented on #177
Yeah, strange. It's indeed useless during compilation, but required on linking. I think you could try to uninstall hand-built libimobiledevice and go for:

    brew install libimobiledevice --HEAD
    brew install ios-webkit-debug-proxy  --HEAD

[2016-12-19 15:15] dcaric commented on #177
But If I do brew install libimobiledevice --HEAD it will not work. Like I said I have to compile libimobiledevice with
CFLAGS=-I/usr/local/opt/openssl/include LDFLAGS=-L/usr/local/opt/openssl/lib
to use openssl, otherwise it will not work. Now idevice... commands work, at least that works.

[2016-12-19 15:18] artygus commented on #177
brew formula depends on openssl, it should install the proper version. at least it works fro me as expected

[2016-12-19 15:18] dcaric commented on #177
OK I will try, thx

[2016-12-19 16:03] artygus commented on #177
On the second thought to skip the error you could simple remove `-Werror` from `configure.ac`

[2016-12-19 16:16] #176 closed

[2016-12-19 16:16] #170 closed

[2016-12-19 18:53] dcaric commented on #177
I tried before -Werror and it didn't work. Now I have some problems to fix for
 brew install --HEAD libimobiledevice
I'm getting
glibtoolize:   error: $pkgauxdir is not a directory: '/usr/local/Cellar/libtool/2.4.6_1/share/libtool/build-aux'
autom4te: need GNU m4 1.4 or later: /usr/bin/m4
aclocal: error: echo failed with exit status: 1
autom4te: need GNU m4 1.4 or later: /usr/bin/m4
autoheader: '/

[2016-12-19 20:01] dcaric commented on #177
i don't know what I didn't do :) and I ended up with this (like before)
during make

/Applications/Xcode.app/Contents/Developer/usr/bin/make  all-recursive
Making all in common
  CC       socket.lo
  CC       thread.lo
  CC       debug.lo
In file included from debug.c:36:
../src/idevice.h:30:10: fatal error: 'openssl/ssl.h' file not found
#include <openssl/ssl.h>
         ^
1 error generated.
make

[2016-12-19 20:12] artygus commented on #177
It doesn't look like problem with iwdp because it fails on the libimobiledevice call, which is most likely related to old libimobiledevice. Did you try to pass CFLAGS to brew while installing libimobiledevice?

[2016-12-19 20:31] artygus commented on #177
just in case, do you have xcode command line tools installed? I mean maybe it's stale version or something?

[2016-12-19 20:40] dcaric commented on #177
I cam cmd tools, how can I checks is iwdp calls correct libimobiledevice ?
I have
/usr/local/Cellar/libimobiledevice
/usr/local/Cellar/libimobiledevice/1.2.0/include/libimobiledevice
/usr/local/include/libimobiledevice
/usr/local/opt/libimobiledevice

and...
ETK-MacBook-Pro:~ dariocaric$ ls -l /usr/local/include/libimobiledevice
total 472
-rw-r--r--  1 dariocaric  admin  13555 Dec 19 20:54 afc.h
-

[2016-12-19 20:48] artygus commented on #177
versions from brew come prebuilt, it relies on dynamic libs found somewhere in `@@HOMEBREW_PREFIX@@/opt/libimobiledevice..`

[2016-12-19 20:50] artygus commented on #177
I'm concerned why do use `/Applications/Xcode.app/Contents/Developer/usr/bin/make` to run  make? and the error you posted

looks like you don't have xcode command line tools installed properly

[2016-12-19 21:01] artygus commented on #177
PS. Was able to test current version with iOS 10.2 and it works for me

[2016-12-19 21:19] dcaric commented on #177
lucky you :)
but with what iOS device ?
I had some problem with paths but I fixed that

I didi this

ETK-MacBook-Pro:Cellar dariocaric$ rm /usr/local/bin/idev*
ETK-MacBook-Pro:Cellar dariocaric$
ETK-MacBook-Pro:Cellar dariocaric$
ETK-MacBook-Pro:Cellar dariocaric$
ETK-MacBook-Pro:Cellar dariocaric$
ETK-MacBook-Pro:Cellar dariocaric$ ls -l /usr/local/bin/idev*
ls: /usr/local/bin/idev*: No such file

[2016-12-19 23:10] dcaric commented on #177
OK I did it working on the other (same type) mac so I agree this is some config issue with my first mac

[2016-12-19 23:10] #177 closed

[2017-01-03 10:54] HemantTrivedi opened #179 "child process exited with code 2"
While exciting the following command , it gives error as 'child process exited with code '

/Applications/Appium.app/Contents/Resources/node_modules/appium/bin/ios-webkit- debug- proxy-launcher.js -c 8ee9e0f670b763192b38fbdcb10dce856033351b:27753 –d

I have tried following commands as well

ios_webkit_debug_proxy -c 0e4b2f612b65e98c1d07d22ee08678130d345429:27753 -d
/usr/local/lib/node_modules/appi

[2017-01-04 21:43] juliogc commented on #166
Hi, guys

Sorry to reopen this topic, but I'm with the same problem and all those workarounds are failing to me.

[code]

Here some extra infos

**OS Version**
[code]

**Device recognized (hash)**
[code]

**Device recognized (debug)**
[code]

**usbmuxd daemon running**
[code]

Here are all the ways that I tried to install:
1) The default install instructions on [ios-webkit-debug-proxy](https://git

[2017-01-04 22:45] artygus commented on #166
hi @juliogc can you confirm you're using libimobiledevice from master branch?

[2017-01-05 00:14] juliogc commented on #166
Hi @artygus!

Yes, first I tried by cloning from the [github repository](https://github.com/libimobiledevice/libimobiledevice) and I have downloaded it via [libimobiledevice website](http://www.libimobiledevice.org/downloads/libimobiledevice-1.2.0.tar.bz2) as tar.bz2 too.

[2017-01-05 11:19] ianmorti commented on #166
@artygus @juliogc I'm also seeing the `GnuTLS error` on 16.04.  tried both branch and master

[2017-01-05 16:24] artygus commented on #166
@juliogc I can't see why author of the [tutotrial](http://www.davidemontersino.com/development-en/web-development/2014/09/how-to-use-ipads-web-inspector-on-ubuntu/) suggests installing libimobiledevice-dev and then make a build from sources (to skip building usbmuxd?).

The safest way is to build libimobiledevice (usbmuxd, libplist and libimobiledevice) from sources, the software quite advanced si

[2017-01-05 19:08] ayrka39 commented on #161
thanks, it is THE solution for me.

[2017-01-05 22:10] juliogc commented on #166
@artygus I have to be honest that I'm almost a dummy user at this point and really don't understand the reason that the author recommend this "custom" installation.

But now I fixed the problem installing some extra dependencies that I found in [this post](http://askubuntu.com/questions/598940/libimobiledevice-1-2-ios-8-support-for-ubuntu-14-04-trusty/605198) from askubuntu. I'll leave bellow all

[2017-01-05 22:31] #172 closed

[2017-01-05 22:33] artygus commented on #172
the alternatives were added to readme https://github.com/google/ios-webkit-debug-proxy/commit/4b940e6dd9629b1662d8fd8dc710f26731af9c6e

[2017-01-05 22:34] artygus commented on #45
the issue is quite old now, if you still have the issue feel free to reopen

[2017-01-05 22:34] #45 closed

[2017-01-05 22:36] artygus commented on #2
the issue is quite old now, if you still have the issue feel free to reopen

[2017-01-05 22:36] #2 closed

[2017-01-05 22:37] artygus commented on #41
the issue relates to devtools frontend, not a tool functionality

[2017-01-05 22:37] #41 closed

[2017-01-06 10:22] ianmorty commented on #166
@artygus @juliogc yep - got mine working too.  rebuilding `libimobiledevice` locally and using `libimobiledevice_idevice_connection` branch seemed to do the trick 👍

[2017-01-09 11:52] cgyrock opened #180 "Can't see any info print in Chrome's console while use console.log()"
I run my Cordova App in my iPhone device.
There are codes in index.js

    var app = {
        // Application Constructor
        initialize: function() {
            document.addEventListener('deviceready', this.onDeviceReady.bind(this), false);
        },

        // deviceready Event Handler
        //
        // Bind any cordova events here. Common events are:
        // 'pause', 'resume', etc

[2017-01-09 12:43] artygus commented on #180
hi @cgyrock the sole purpose of the tool is to proxy ios safari webinspector packets to some endpoint through websockets, unfortunately webkit and chrome protocols diverged quite a bit, please see [readme](https://github.com/google/ios-webkit-debug-proxy#devtools-note) for possible alternatives

[2017-01-09 12:43] #180 closed

[2017-01-09 14:01] pavanbachu0604 commented on #161
@ayrka39 : Even I am facing the same issue ..whats the solution ? iOS 10 DEVICE

[2017-01-09 14:09] artygus commented on #161
@pavanbachu0604 solution is to rebuild the tools with libimobiledevice from master

[2017-01-10 06:41] HemantTrivedi opened #181 "Could not connect to lockdownd. Exiting.: Broken pipe"
I tried to run the web-kit-debug-proxy on Appium 1.6 and ios 10. But it displays the lock down error. I tried to update the lib device-Head but still the issue persists. Please help me on this

[2017-01-10 10:39] artygus commented on #181
hi @HemantTrivedi did you rebuild the tool after updating libimobiledevice?

[2017-01-11 06:00] HemantTrivedi commented on #181
Hi @artygus  ,thanks for the replay . I tried following command  and it's now connecting .
 brew link --overwrite ios-webkit-debug-proxy
brew link --overwrite --dry-run ios-webkit-debug-proxy

But I have another doubt . While launching the Appium session , in appium logs I am getting appium version as 1.5 while I updated to 1.6. Also is's not getting connected to machine . may I know what could be

[2017-01-11 12:26] #165 closed

[2017-01-11 12:33] artygus commented on #181
I'm not familiar with appium, does it use bundled version of `ios-webkit-debug-proxy` or requires to be present in system?

Anyway, you could try this:

    brew update
    brew install --HEAD libimobiledevice
    brew install --HEAD ios-webkit-debug-proxy

[2017-01-12 09:01] HemantTrivedi commented on #181
Thanks @artygus . I will try that .

[2017-01-12 09:01] #181 closed

[2017-01-12 10:58] #142 closed

[2017-01-18 00:58] #81 closed

[2017-01-18 00:58] artygus commented on #81
should be fixed with f040da60759617cbf74ea3da19d22f29b7d5b566

[2017-01-18 03:19] sixstones opened #182 "conflicting types for 'idevice_connection_get_fd'"
install failed on Mac 10.12.2
[code]

[2017-01-18 11:08] artygus commented on #182
please try

    brew update
    brew upgrade --HEAD ios-webkit-debug-proxy

[2017-01-18 19:10] artygus commented on #163
hi @fpn, do you still see the issue after #169 was merged in?

[2017-01-19 15:57] artygus commented on #182
new version pushed to brew https://github.com/Homebrew/homebrew-core/commit/672cb51955d20d70614f538876c7b4973010bbf4

    brew install -s ios-webkit-debug-proxy

[2017-01-19 15:57] #182 closed

[2017-01-19 20:28] artygus commented on #67
hi @JeffHoover, it's been a while, but can you confirm it's still happening to you?

[2017-01-19 20:40] artygus commented on #72
hi @appsforartists, did it work for you eventually?

[2017-01-19 20:42] #86 closed

[2017-01-19 20:46] artygus commented on #167
a note about devtools has been added to [readme](https://github.com/google/ios-webkit-debug-proxy/blob/master/README.md#devtools-note)

[2017-01-19 20:46] #167 closed

[2017-01-19 20:47] artygus commented on #179
is it still happening after you resolved #181?

[2017-01-19 20:48] artygus commented on #64
should be fixed long ago

[2017-01-19 20:48] #64 closed

[2017-01-19 20:51] artygus commented on #66
issue seems to be related to now outdated libplist version, if the problem still there feel free to reopen

[2017-01-19 20:51] #66 closed

[2017-01-19 20:53] artygus commented on #63
note about devtools has been added to readme https://github.com/google/ios-webkit-debug-proxy/commit/4b940e6dd9629b1662d8fd8dc710f26731af9c6e

[2017-01-19 20:53] #63 closed

[2017-01-19 20:56] artygus commented on #56
wi_script has been removed with 36c19a334a5f7b04fd2722d1b81fda1cf81b1513

[2017-01-19 20:56] #56 closed

[2017-01-19 20:58] artygus commented on #59
seems to be fixed after upgrading libimobiledevice to 1.1.6

[2017-01-19 20:58] #59 closed

[2017-01-19 21:44] appsforartists commented on #72
No idea - I don't even work at that job anymore.  😝

[2017-01-19 21:48] artygus commented on #72
haha k, I guess it should be fixed anyway

[2017-01-19 21:48] #72 closed

[2017-01-20 23:56] artygus commented on #46
no more complains so far, should be fixed I guess

[2017-01-20 23:56] #46 closed

[2017-01-21 00:00] artygus commented on #32
minimal libimobiledevice version required has been set to 1.2.0 with 8a90693a4fbd86f0c320c83954d6790b63381334

[2017-01-21 00:00] #32 closed

[2017-01-21 23:26] JeffHoover commented on #67
After 2+ years, I don't recall what I was even doing with it. Sorry.

[2017-01-21 23:26] #67 closed

[2017-01-23 11:50] x3rAx opened #183 "Could not connect to lockdownd. Exiting.: Connection reset by peer"
Hi there,

when I connect my dev iPad and run `ios_webkit_debug_proxy` with our without `sudo` I get the following message and no device appears on the web interface:

[code]

I have already enabled the Web Inspector on the device.

Here are some additional information:

**OS**: elementary OS 0.3.2 Freya (64 bit) built on Ubuntu 14.04
**iPad**: iOS 10.2, should be an iPad Air

|

[2017-01-24 01:36] jglifonea commented on #161
thanks for this! this works!

[2017-01-26 09:59] billymcintosh commented on #183
I experienced this bug too, but after issuing `sudo ldconfig` within your `libimobiledevice` git repository it worked.

[2017-01-26 14:27] VasilijSviridov opened #184 "page Id"
Hi,

Could you tell me how do I get pageId before connecting to ws ?
As example pageId was changed from 1 to 7 , how do I get that pageId ?

Cheers

[2017-01-26 14:35] artygus commented on #184
hi @VasilijSviridov not sure I got that, but you could try using "http://localhost:9222/json/list" endpoint

[2017-01-26 15:10] VasilijSviridov commented on #184
well, made it dirty way :) just parsing the whole localhost:port and matching the page number :/
I will double check /json/list

Cheers @artygus

[2017-01-31 18:45] #184 closed

[2017-02-03 00:06] artygus commented on #183
@x3rAx please try to build libimobiledevice with `libgnutls`

     sudo apt install libgnutils-dev libgcrypt-dev
     cd <libimobiledevice>
     ./configure --without-cython --disable-openssl

and then rebuild `ios_webkit_debug_proxy`

[2017-02-15 16:35] ekulabuhov opened #185 "localhost:9221 showing only iOS simulator (no way to inspect)"
![image](https://cloud.githubusercontent.com/assets/4452263/22984116/4d8ed3e6-f39c-11e6-9a77-fb3b34faebe1.png)

I can see Simulator in the list but I can't open dev-tools. What could be causing this? Running iOS v10, Safari, Debugging enabled.

[2017-02-20 13:25] ekulabuhov commented on #185
This is the error I get:

[code]

[2017-02-20 13:37] artygus commented on #185
@ekulabuhov do you use latest version (which is 1.7.1)?

[2017-02-20 16:18] ekulabuhov commented on #185
@artygus using 1.6. That's the latest according to brew. Do I need to build from source?

[2017-02-20 16:21] artygus commented on #185
@ekulabuhov I think you need to update brew, https://github.com/Homebrew/homebrew-core/pull/9043 was merged not so long ago

[2017-02-20 16:58] ekulabuhov commented on #185
Tried updating multiple times. Still points to an older version. Installed successfully pointing directly at the Pull Request: `brew install https://raw.githubusercontent.com/artygus/homebrew-core/50d1ca15c028cbef32f176f6cd13b4e9e0147ab4/Formula/ios-webkit-debug-proxy.rb`

[2017-02-20 17:08] ekulabuhov commented on #185
@artygus and yes, everything works now as expected! Thanks!

EDIT: except console, doesn't evaluate, you can type in it but nothing happens.

[2017-02-20 17:09] #185 closed

[2017-02-25 23:41] dmusicant opened #186 "Unable to select a DOM node and view or change its styles"
While I can view the DOM tree, it does not let me select one to view the styles, or change the styles.

It starts with the top node selected but even that one, changing the styles on the right pane does not update anything.

USING:
openSUSE 42.1 LEAP 64 bit
Linux Kernel 4.9.0-2 default
KDE 5.5.5
Intel Core i7-6600U
16 GB RAM

[2017-02-25 23:42] dmusicant opened #187 "The console does run any input"
On the console, there's an input at the bottom but typing there (and hitting enter) does nothing. The JavaScript is never run.

[2017-02-25 23:46] artygus commented on #186
please check out readme, devtools section https://github.com/google/ios-webkit-debug-proxy#devtools-note

[2017-02-25 23:46] #186 closed

[2017-02-25 23:46] artygus commented on #187
please check out readme, devtools section https://github.com/google/ios-webkit-debug-proxy#devtools-note

[2017-02-25 23:46] #187 closed

[2017-02-28 06:41] ios122 commented on #166
update libimobiledevice and rebuild ios-webkit-debug-proxy,and Then:

[code]

[2017-03-07 09:50] SamHasler commented on #53
See also https://github.com/artygus/ios-webkit-debug-proxy-win32/issues/23#issuecomment-275169128

Presumably @artygus would be open to any help getting that build working.

[2017-03-09 14:53] sargin48 commented on #38
i fixed this error on mac with

brew reinstall --HEAD libimobiledevice

[2017-03-10 21:52] FerrazzzZ opened #188 "Element Selector Does not Work"
This tools is fantastic specially for people who love to develop web apps with google chrome but it would be awesome if the element selector worked.

For example in the safari browser you can select the element selector and than tap anywhere on the page and it will inspect to that element. It would be so awesome if this feature worked in google chrome inspector.

[2017-03-10 23:13] auchenberg commented on #188
Please see https://github.com/google/ios-webkit-debug-proxy#devtools-note

[2017-03-11 18:28] #188 closed

[2017-03-13 14:56] netpoetica commented on #86
Is it expected that one should see the console.logs from their client application in the Inspector?

[2017-03-13 16:06] artygus commented on #86
hi @netpoetica absolutely, but there're more and more issues with dev tools, please check out https://github.com/google/ios-webkit-debug-proxy#devtools-note

[2017-03-26 09:51] aleclarson opened #189 "Several errors on start-up (in chrome-devtools://devtools/bundled/inspector.html)"
1. Installed with: `brew install ios-webkit-debug-proxy`

2. Opened the Safari app in "iOS 10.2 Simulator" (with the "Web Inspector" setting enabled)

3. Goto `www.google.com`

4. Run `ios_webkit_debug_proxy -f chrome-devtools://devtools/bundled/inspector.html`

5. See [this](http://i.imgur.com/yQeRkoz.png) in the `chrome-devtools` tab

Chrome v57.0.2987.110 (64-bit)
macOS v10.12.3

[2017-03-26 09:56] artygus commented on #189
hi @aleclarson, please check out readme https://github.com/google/ios-webkit-debug-proxy#devtools-note

[2017-03-26 09:56] #189 closed

[2017-03-30 11:24] chOOnz opened #190 "Not able do see webview in browser"
I have trouble beeing able to see my webview in my browser when visiting `localhost:9222` after running `ios_webkit_debug_proxy` in command line. Also when I visit `localhost:9221` I am able to see my device which is connected. I already tried different apps which contain a webview, like browsers, but I was not able to see any webcontent when visiting `localhost:9222`.

Some info:
iOS version: 10.

[2017-03-30 11:36] artygus commented on #190
@chOOnz what does `ios_webkit_debug_proxy -V` show?

[2017-03-30 11:58] artygus commented on #190
Oh now I see, I don't think it is possible to see webviews from apps other than browser if they don't expose it. To make sure iwdp is broken, please check if you can see those webviews in Safari on you Mac

[2017-03-30 12:02] chOOnz commented on #190
No, I'm not able to see anything there... That's pretty strange. Do you have an idea where the problem might lie?

[2017-03-30 12:09] artygus commented on #190
@chOOnz could it be that webinspector switch is set to disabled for some reason? (Settings -> Safari -> Advanced -> Web Inspector)

[2017-03-30 12:14] chOOnz commented on #190
Nope, it's enabled... I never had this behaviour before.

[2017-03-30 12:24] artygus commented on #190
nope, never seen anything similar before 😞

[2017-03-30 12:27] chOOnz commented on #190
It's funny, because I tried again an opened safari on iOS and suddenly safari on mac is noticing this webview. But it's still not noticing the webview of my app.... Man this is some strange sh**..

I will play around now and come back here when I solved it but it clearly isn't a problem caused by iwdp.

[2017-03-30 12:36] artygus commented on #190
Hehe, I'm pretty sure you've seen it already, but just in case http://stackoverflow.com/a/16483200

[2017-03-31 06:45] chOOnz commented on #190
We solved the problem. It was a misconfiguration of our app build tool...

Thanks for your help @artygus !

[2017-03-31 10:15] mochja commented on #183
Hello,

I've experienced this problem as well. It looks like [detection of idevice_connection_get_fd](https://github.com/google/ios-webkit-debug-proxy/blob/master/configure.ac#L55) is not working properly when you have installed library in custom location

[code]

Nasty solution,
[code]

[2017-03-31 10:27] artygus commented on #183
hi @mochja, sounds weird

- if ./configure doesn't know where `<libimobiledevice/libimobiledevice.h>` is, how would compiler know?'
- present implementation of `idevice_connection_get_fd` in iwdp does the same thing as original in `libimobildevice`, it's just that it wasn't exposed in versions before 1.2.1, which is not released oficially just yet

[2017-03-31 10:32] artygus commented on #190
cool! glad you got to the bottom of it

[2017-03-31 10:32] #190 closed

[2017-03-31 13:24] mochja commented on #183
Yes, I built with latest libimobiledevice, it fails as you said.

[code]

I found in other issues that you should build with another branch, but that branch no longer exists.

How ever it can't find definition of `idevice_connection_get_fd` in latest libimobiledevice automatically, so I had to force it, then it builds and run correctly.

[2017-03-31 13:28] artygus commented on #183
Oh , k, got you! Looks like separate issue, not related to  "Could not connect to lockdownd" problem. Could you please describe what do you mean by "custom location", how come configure can't see "libimobiledevice/libimobiledevice.h" while compiler does? Could it be that you have two versions of libimobiledevice.h header in different location?

[2017-03-31 13:38] mochja commented on #183
Well, I saw message before aswell, then I tried to update to latest libimobiledevice and I can still see the message, but if I connect/trust the device, before I run iwdp, it works.

- I install the libimobiledevice library by compiling it using
  -  `./autogen.sh --prefix=$HOME`
  - `make && make install`
- iwdp then
  - `PKG_CONFIG_PATH=$HOME/lib/pkgconfig ./autogen.sh --prefix=$HOME`
  - `make

[2017-03-31 13:54] artygus commented on #183
just in case could you please check to be 100% sure?

    find / -name 'libimobiledevice.h'

perhaps you don't need to specify `PKG_CONFIG_PATH` for libimobiledevice because you have `libplist` and `usbmuxd` installed from packages to "global" locations, while you install

[2017-03-31 13:56] mochja commented on #183
[code]

[2017-03-31 14:05] artygus commented on #183
@mochja thanks! looks like something else, I'll take a look later today

[2017-03-31 15:13] artygus commented on #183
@mochja please check out latest commit in master

[2017-04-03 08:47] mochja commented on #183
@artygus it works ! I also found out that iwdp is able to connect to my device only once per usb connection. I have to re-plug the device otherwise I'll see an error
[code]
lockdownd
[code]

I found out that if I run `idevicepair pair` it works multiple times.

[2017-04-03 08:55] artygus commented on #183
hi @mochja, cool!

do you mean it fails when you restart the app with webview?

[2017-04-03 09:04] mochja commented on #183
No, when I stop iwdp and run it again.

[2017-04-03 16:14] artygus opened #191 "iwdp is able to connect to my device only once per usb connection"
spinoff from https://github.com/google/ios-webkit-debug-proxy/issues/183#issuecomment-291083780

[2017-04-03 16:15] artygus commented on #183
@mochja it would take some time to investigate, I raised a separate issue #191

[2017-04-04 12:23] nauman-qc commented on #115
@artygus

[2017-04-05 08:56] webmanAv opened #192 "mingw64 branch - Windows support"
Hi,
I'm using Appium on windows with latest ios 10 device.
I understand that mingw64 branch will enable to produce windows version, from this repository instead of using https://github.com/artygus/ios-webkit-debug-proxy-win32

Do you some estimation, when will it be ready?, because it will be very helpful for me.
Thanks,
 Aviram

[2017-04-05 09:58] artygus commented on #192
Hi @webmanAv, I'll finish it over the weekend. In the mean time you could use custom [build](https://sourceforge.net/projects/ios-webkit-debug-proxy-win32/files/ios-webkit-debug-proxy-win64.zip/download) for windows it's based on 1.7.0

[2017-04-09 20:42] artygus commented on #136
win32 is finally here, gonna craft npm in the next few days

[2017-04-09 20:43] artygus commented on #192
win32 support finally made it's way into project with #193, binaries would be available through npm in the next few days (#136)

[2017-04-09 20:43] #192 closed

[2017-04-10 01:09] auchenberg opened #194 "Use Scoop as package manager for Windows distribution"
You could consider use [Scoop](http://scoop.sh/) for Windows distribution, as it's the equivalent of Homebrew but for Windows.

I have previously suggested to ship prebuilt binaries via NPM(https://github.com/google/ios-webkit-debug-proxy/issues/136), but I don't don't if this is possible for Mac and Unix? (to ship prebuilt binaries). Given this project know supports 3 platforms, it would only mak

[2017-04-12 16:18] harjotcheema opened #195 "ios-webkit-debug-proxy not working for iOS 10.3.1"
OSX Version - Mac OS Sierra (10.12.4)
Xcode version - 8.3
Device - iPhone 6
Device OS version - iOS 10.3.1
Note: I have also enabled Web Inspector in the settings

Am getting the below error when trying to run ios_webkit_debug_proxy:
ios_webkit_debug_proxy -u **<udid of the device>**
Could not connect to lockdownd. Exiting.: Broken pipe
Unable to attach **<udid of the device>** inspector

Also whe

[2017-04-12 16:27] artygus commented on #195
hi @harjotcheema please checkout troubleshooting section https://github.com/google/ios-webkit-debug-proxy#troubleshooting

[2017-04-12 16:27] #195 closed

[2017-04-12 16:36] skumar1122 commented on #195
I had same issue before , try this -
$brew upgrade libimobiledevice --HEAD

[2017-04-13 20:22] artygus commented on #194
I'm not sure. Guys form mozilla/valence are using prebuilt binaries (https://github.com/mozilla/valence/tree/master/tools), however I have no idea if something could go wrong with numerous linux distros. What do you think?

[2017-04-13 20:30] auchenberg commented on #194
Can we do both? Publish prebuilt binaries to NPM, and make releases to package managers (Scoop/Homebrew) too?

[2017-04-13 20:40] artygus commented on #194
sure, shouldn't be a problem

[2017-04-18 21:33] artygus commented on #194
opened pr in scoop repo lukesampson/scoop-extras#382

[2017-04-18 22:21] auchenberg commented on #194
Yay!

Is the build build from this repo or https://github.com/artygus/ios-webkit-debug-proxy-win32?

You could add the Windows binary to the release pages too for consistency

[2017-04-19 08:54] artygus commented on #194
Nope, it's from this one. I thought to do so, but it's a bit confusing, because binary release depends on the versions of libimobildevice, libplist it's built with

[2017-04-19 09:21] artygus commented on #194
scoop accepted PR

[2017-04-19 09:21] #194 closed

[2017-04-19 09:46] artygus commented on #53
done #193

[2017-04-19 09:46] #53 closed

[2017-04-19 14:33] janpio opened #198 "Windows install via scoop downloads file from sourceforge that is from different repository?"
I just looked into the new scoop install option for Windows, did I follow the trail correctly that this actually downloads a .zip from Souceforge that is built from the -win32 repository that was previously linked? Or was Windows support properly integrated here and I missed it somehow?

[2017-04-19 14:46] artygus commented on #198
hi @piotrowski, now I see that it's confusing, just what @auchenberg said. Scoop build done from the current master of this project. I just had an account and already set-up project on SF for -win32 stuff, so I reused that one just because it was easier. I think I'll stick to github's release binaries thing to avoid confusion in the future

[2017-04-19 15:10] piotrowski commented on #198
That would be great. I just wanted to make sure I understood what I actually downloaded as I haven't used scoop before. (I am probably not the only one, so manually downloading a .msi, .exe or something would be even better)

[2017-04-21 09:22] paulirish commented on #53
This is huge! awesome stuff, @artygus.
very very nice. :)

[2017-04-23 03:42] NegrilloC commented on #115
@nauman-qc Once you select the shield there should be an option to "Load unsafe scripts" after selecting that option it should be woking.

[2017-04-27 07:24] netd-eric opened #199 "Cannot detect a new webview"
In my testing app that contains two webviews, when it's launching the app it shows the first webview only. After passing some actions the second webview is displayed but iOS webkit debug proxy cannot detect that automatically. Until I run the app in background(press home button and open the app again) then iOS webkit debug proxy was able to get the second webview.

Or is it a way to detect it auto

[2017-04-27 09:21] skumar1122 commented on #199
@netd-eric
Can you share your appium caps ,
use this

[2017-04-27 11:14] netd-eric commented on #199
Yes, my appium caps:
[code]
I have tried the new update but still not work.
there is my related issue https://github.com/appium/appium/issues/8292

[2017-04-28 07:27] ghostoy opened #201 "Inspect page hangs with iOS 10.3.1 on Windows 10"
I tried to inspect pages on Safari on my iPad. The device list page on `9221` was good, and I can also get pages listed on `9222`, too. However when I try to inspect a single page, the browser hangs.

Version: 1.7.1 installed with `scoop`
Laptop: Windows 10 with Creators Update
iPad: iOS 10.3.1
Apple Mobile Device Service: version 3.3.0.0 x64 (part of iTunes installation)

[2017-05-01 14:30] Handsome2734 opened #202 "Video not playing on iPhone devices and simulator"
I want to play video automatically, by performing a click on play button.
Here are my commands:
[code]
After sending these commands, video is stuck at the first frame.
But when I execute the script in chrome console, video can play just well.
Very appreciate for helping.

[2017-05-02 07:58] Handsome2734 commented on #202
Android Chrome 57.0.2987.132 has the same problem.
[code]
Video just got stuck, and loading circle and play button showed at same time.

[2017-05-02 17:01] artygus commented on #202
@Handsome2734 probably the first click on the video has to be done via user interaction, otherwise it would be possible to implement autoplay on mobile device with javascript. I'm closing the question as it's not related to the utility functionality in any way

[2017-05-02 17:01] #202 closed

[2017-05-02 17:07] artygus commented on #202
out of curiosity i checked if the scenario would work with muted video. If you set video to muted first with `document.getElementsByTagName('video')[0].muted = true` the subsequent call invoking click would make video play

[2017-05-02 17:21] artygus commented on #9
as far as I understood from comments the problem doesn't exist if you build everything from sources and it's barely ios-webkit-debug-proxy problem, more likely it's the problem with one of the dev versions of packages of required libs (libimobiledevice, libusbmuxd, libplist)

[2017-05-02 17:21] #9 closed

[2017-05-02 17:41] artygus commented on #18
I guess the problem was resolved in later versions of the utility

[2017-05-02 17:41] #18 closed

[2017-05-02 17:43] artygus commented on #24
hi @matthewmueller it's been quite a time, but If you still using the utility do you see same behaviour?

[2017-05-03 12:06] evenfrost commented on #166
Can confirm changing permissions as @ios122 suggested helped me along with re-plugging the device.

[2017-05-04 20:08] #183 closed

[2017-05-04 20:08] #163 closed

[2017-05-04 20:09] #179 closed

[2017-05-04 20:16] artygus commented on #132
Closing now since no reply from OP. Locally small demo works as expected

[2017-05-04 20:16] #132 closed

[2017-05-04 20:19] artygus commented on #69
closing since it's quite old, feel free to reopen if it happens again

[2017-05-04 20:19] #69 closed

[2017-05-04 20:20] artygus commented on #54
there were major updates since then and minimal libimobiledevice was raised to 1.2.0

[2017-05-04 20:20] #54 closed

[2017-05-04 20:21] artygus commented on #20
https://github.com/google/ios-webkit-debug-proxy#using-with-devtools

[2017-05-04 20:21] #20 closed

[2017-05-04 20:21] artygus commented on #42
https://github.com/google/ios-webkit-debug-proxy#using-with-devtools

[2017-05-04 20:21] #42 closed

[2017-05-15 10:07] artygus commented on #10
now 1.2.0 is a minimal required version of libimobiledevice, since https://github.com/google/ios-webkit-debug-proxy/commit/8a90693a4fbd86f0c320c83954d6790b63381334#diff-67e997bcfdac55191033d57a16d1408aR18

[2017-05-15 10:07] #10 closed

[2017-05-15 19:51] #25 closed

[2017-05-16 09:21] umutuzgur opened #203 "The Content of the cookies are not shown"
When I click on the cookies section in the UI of ios webkit debug proxy, it only shows the list of the cookies that belongs to the domains but not the content of the cookies. I can see that when I use safari developer screen. Is this might be broken with ios webkit debug proxy?

[2017-05-16 09:24] artygus commented on #203
hi @umutuzgur, please check out https://github.com/google/ios-webkit-debug-proxy#using-with-devtools

[2017-05-16 09:24] #203 closed

[2017-05-16 17:25] #26 closed

[2017-05-16 20:15] artygus commented on #29
the issue seemed to affect 32bit machines only, see #150

[2017-05-16 20:15] #29 closed

[2017-05-16 20:16] #43 closed

[2017-05-16 20:17] artygus commented on #39
see https://github.com/google/ios-webkit-debug-proxy#using-with-devtools

[2017-05-16 20:17] #39 closed

[2017-05-16 20:19] #37 closed

[2017-05-16 20:21] artygus commented on #44
see https://github.com/google/ios-webkit-debug-proxy#using-with-devtools

[2017-05-16 20:21] #44 closed

[2017-05-16 20:22] artygus commented on #52
see https://github.com/google/ios-webkit-debug-proxy#using-with-devtools

[2017-05-16 20:22] #52 closed

[2017-05-17 13:09] shapovalovei opened #205 "Error while executing atom: [object Object]"
Hi all, I use appium for run test on mobile browser. Appium use ios-webkit-debug-proxy. Sometimes I have strange error "Error while executing atom: [object Object]". I think  ios-webkit-debug-proxy send incorrect answer

[code]

![screen shot 2017-05-17 at 5 56 50 pm](https://cloud.githubusercontent.com/assets/8914951/26161273/2900dbdc-3b2c-11e7-9e0b-aed38c261e96.png)
![Uploading Screen Shot 2017-

[2017-05-18 19:30] shapovalovei commented on #205
One screenshot is missing. On this screenshot, I don't see any tags
<img width="1873" alt="screen shot 2017-05-17 at 17 43 50" src="https://cloud.githubusercontent.com/assets/8914951/26219881/4d7ef8c0-3c19-11e7-9a45-97c1d811f857.png">

[2017-05-18 21:02] adnan-wahab commented on #166
I am getting this error, and the branch libimobiledevice_idevice_connection doesn't seem to exist anymore

[2017-05-18 22:33] artygus commented on #166
hi @adnan-wahab changes from this branch were merged into master, please check that you're using latest libimobilidevice (1.2.1), if it doesn't help you could try building libimobiledevice with gnutls instead of openssl

    sudo apt install libgnutls-dev libgcrypt-dev
    cd <libimobiledevice>
    ./configure --without-cython --disable-openssl

[2017-05-18 22:37] artygus commented on #205
hi @shapovalovei, I'm not sure why you get "Error while executing atom.." error, I'm not familiar with appium. But you see objects instead of class names in dev tools because

see https://github.com/google/ios-webkit-debug-proxy#using-with-devtools section for more information

[2017-05-19 14:28] shapovalovei commented on #205
Thanks, we can close Issues its a problem with special charters

[2017-05-19 14:39] #205 closed

[2017-05-23 12:58] mare1012 opened #206 "ios webkit debug proxy disconnects from safari on ios 10 physical device with error"
## The problem

Hi,

i'm running a test (login) on mobile safari using real device. Sometimes my script is working but sometimes it doesn't. The error says that operation timed out. If i test my script using ios emulator or android real device, it works fine.

## Environment

* Appium: v1.6.5-beta
* Desktop OS: macOS Sierra Version 10.12.4
* Node.js version: v7.10.0
* Real device: iPhone 6s 10.3.1

[2017-05-24 10:21] ochubey opened #207 "Unable to get webview of Hybrid application with ios_webkit_debug_proxy 1.7.1"
Unable to reach webview of the same app on real device, although it's reachable on Simulator.

   "deviceId": "SIMULATOR",
   "deviceName": "SIMULATOR",
   "url": "localhost:9222"
},{
   "deviceId": "censored :)",
   "deviceName": "DespoPhone",
   "url": "localhost:9223"
}]

When opening Simulator's URL http://127.0.0.1:9222/json I can see expected webview description:

   "devtoolsFrontendUrl": "

[2017-05-24 16:06] artygus commented on #207
hi @ochubey there was a similar issue #190

[2017-05-25 11:57] ochubey commented on #207
@artygus thank you for linking and closing.
My issue was resolved by changing provisioning profile type from AdHoc to Developer (there might be issues with debug flag in AdHoc profile.).

[2017-05-25 11:57] #207 closed

[2017-05-28 17:14] artygus commented on #201
hi @ghostoy, what do you mean hangs, does it stop to respond? do you see shield icon to the right of address bar?

[2017-05-29 12:28] mare1012 commented on #206
any update on this?

[2017-06-02 07:28] mare1012 commented on #206
Hallo @artygus ,

do you have info about this issue? i'm trying also to install iwdp by building from the source code, but it doesn't work.

[2017-06-02 12:48] artygus commented on #206
hi @mare1012, unfortunately I'm not familiar with appium, I'll take a closer look on the issue over the weekend. If you have problems building from source code please refer to [troubleshooting section](https://github.com/google/ios-webkit-debug-proxy#troubleshooting) of the readme. If problem you're having is not there please raise a separate issue

[2017-06-02 13:26] ghostoy commented on #201
Yes, it stops to respond. Browser stucks at the loading state.

[2017-06-02 13:30] artygus commented on #201
does it also get stuck when you use external devtools, e.g. chrome-devtools://devtools/bundled/inspector.html?ws=localhost:9222/devtools/page/1

[2017-06-02 16:21] mare1012 commented on #206
hi @artygus , thanks for your reply. i'm really looking forward for your answer of this issue, because i don't find any solution. Btw If i see the log-file, i will see these 2 lines:

[IWDP] [ 'Page 27753/0 not found' ]
[IWDP] [ 'Already sent close_frame' ]

i think, IWDP is disconnected in this case. but sometimes it's working fine.

this is the log-file, if the test is working, i hope it helps:

[2017-06-05 01:47] ghostoy commented on #201
Sorry. It appears to be the issue of my cable. I tried to connect my iPad with another cable and it started to be working. So close this issue.

[2017-06-05 01:47] #201 closed

[2017-06-07 05:38] artygus commented on #206
hi @mare1012, I set up the env to run appium script, but I was not able to reproduce the issue yet. I keep on trying and will let you know if I have any luck in fixing the nasty issue

[2017-06-07 11:33] mare1012 commented on #206
Hi @artygus  thank you, Do you mean by not able to reproduce the issue that the script works fine on mobile safari??

[2017-06-07 12:38] artygus commented on #206
@mare1012 yes

[2017-06-07 13:34] mare1012 commented on #206
@artygus do you try it for many times? because in my case the error comes after trying a couple of times, the last time i could test until 7 times without error.

[2017-06-08 13:43] mare1012 commented on #206
Hi @artygus, i'm configuring appium und IWDP on mac mini. is this issue has something to do with cache or something? can the cache of IWDP be deleted? if yes, how?

[2017-06-08 13:53] artygus commented on #206
I tried to run it in for loop 20 times - no luck. No, there's no cache used by iwdp, at least I'm not aware of any

[2017-06-08 13:59] artygus commented on #206
Though I was using iphone 10.2, it could possibly be related. I'll try to upgrade to sierra to test on 10.3 later this week

[2017-06-08 14:40] mare1012 commented on #206
@artygus thnks before

[2017-06-09 15:12] mare1012 commented on #206
Hallo @artygus i'm trying to test https//google.de , but i still get the same error.

here is my python code:
https://gist.github.com/mare1012/cbb66ac36e840f93a64ace3487b3f922
here is the log file:
https://gist.github.com/mare1012/14395f42689d002ecd595a550d648470

[2017-06-11 18:17] ViktorGal opened #208 "The tool doesn't work with ios 11"
After

....bplist00..._
..WIRFinalMessageKeyO..
bplist00.....Z
__selector_.._rpc_reportIdentifier:Z
__argument..._..WIRConnectionIdentifierKey
_.#6977420-6980-418f- b735-51a3692d2806 .1<?\

message sent.
Device closes connection.

[2017-06-11 18:18] ViktorGal commented on #208
When connecting the device to El Capitan. Safari also cannot see the device.

[2017-06-11 21:55] artygus commented on #208
If safari can not see the device iwdp won't be able to see it either

[2017-06-12 07:56] ViktorGal commented on #208
Can not see on EL Capital. On Sierra it should work. I didn't upgrade my mini mac yet.

[2017-06-12 08:07] artygus commented on #208
I'm on El Captain and I'm able to see the devices. If you start simulator does safari pick it?

[2017-06-12 12:56] ViktorGal commented on #208
You are able to see ios11 devices? I'm talking about ios11. On Sierra the device with ios11 appear in develop tab of safari for a 1 second and disappear.

[2017-06-12 12:57] ViktorGal commented on #208
I don't know how to run ios11 simulator. Maybe I need Xcode 9.

[2017-06-13 06:22] imReker opened #209 "How to use libimobiledevice 1.2.1 or newer on Windows"
I can't find any notes tell the version of libimobiledevice used in Windows build.
I tried replacing the libimobiledevice.dll with the lastest release of https://github.com/libimobiledevice-win32/libimobiledevice but get crash.

[2017-06-13 07:09] artygus commented on #209
hi @imReker it's build with 1.2.1 libimobiledevice/libimobiledevice@1d844aae, you can find version of libraries iwdp depends on in binary archive which currently located on [sourceforge](https://downloads.sourceforge.net/project/ios-webkit-debug-proxy-win32/v1.7.1/ios-webkit-debug-proxy-1.7.1-x64-bin.zip)

[2017-06-13 07:09] #209 closed

[2017-06-13 07:12] artygus commented on #208
@ViktorGal oh I see now, didn't notice ios11 in issue's tittle, I didn't upgrade to Sierra just yet, will do later this week. I'll let you know if I have any progress

[2017-06-13 07:52] mare1012 commented on #206
Hallo @artygus do you have any update on this?

[2017-06-13 09:07] ViktorGal commented on #208
Thanks @artygus. Need to upgrade to High Sierra beta for ios 11.

[2017-06-18 22:27] mare1012 commented on #206
Hallo @artygus , do you have any update on this issue?

[2017-06-19 08:06] lixiaodong opened #210 "Cannot use it on chrome version 58.0.3029.96 (64-bit)???"
1.chrome version 58.0.3029.96 (64-bit)
2.windows 10

I truly appreciate you to develop this tool.but i cannot use it on chrome 58.0.3029.96

![image](https://user-images.githubusercontent.com/1568575/27273527-fbad60e8-5501-11e7-8d7d-ff471b4fb1dd.png)

[2017-06-19 08:08] artygus commented on #210
hi @lixiaodong, what issues exactly are you facing?

[2017-06-19 08:14] alivepool opened #211 "Not able to debug in Chrome Version 58.0.3029.110 (64-bit) MAC OS"
Chrome Version 58.0.3029.110 (64-bit) MAC OS, I am not able to debug.
I am able to see the sources in chrome but the debugger is not hitting the breakpoints as the passing of debug points info seems to have broken.

Getting following error(using --debug):
.~..{"error":{"code ":-32601,"message": "'Debugger.getPossibleBreakpoints' was not found","data": [{"code":-32601,"message":"'Debugger.g etPossi

[2017-06-19 08:17] artygus commented on #211
hi @alivepool, exactly 😞 , please take a look at https://github.com/google/ios-webkit-debug-proxy#using-with-devtools

[2017-06-19 08:17] #211 closed

[2017-06-20 06:56] tobsch commented on #208
Newest chrome preview works with ios 11, even in sierra. The proxy does not though.

[2017-06-20 07:38] artygus commented on #208
@tobsch do you mean that default dev tools front-end doesn't work?

[2017-06-20 07:39] artygus commented on #206
hi @mare1012 unfortunately I had no time to upgrade yet

[2017-06-20 08:04] tobsch commented on #208
yep! it only works with the newest safari preview

[2017-06-20 08:08] artygus commented on #208
Default dev tools url is super old, but even latest dev tools are quite useless because safari/chrome protocols are quite different now, I'd recommend using adapter. You can find some info in readme https://github.com/google/ios-webkit-debug-proxy#using-with-devtools

[2017-06-20 10:19] artygus commented on #208
On El Captain call to libimobiledevice method `lockdownd_client_new_with_handshake` fails with `LOCKDOWN_E_MUX_ERROR`, probably related to protocol changes. Found some info https://github.com/libimobiledevice/libimobiledevice/issues/510

[2017-06-20 13:41] mare1012 commented on #15
Hallo @snevesbarros @zwri, i have a similiar issue. I'm using appium and ios-webkit-debug-proxy to test iOS 10.3.1 real device. i wrote a simple script with python. But sometimes it works sometimes it doesnt, if a run the same script for a couple times. If the script doesnt work. the error says webkit remote debugger socket disconnected.

I also already tried to install IWDP via Terminal, but it d

[2017-06-20 14:44] VasilijSviridov commented on #208
@artygus how you apply patch ?

[2017-06-21 09:42] mare1012 commented on #206
@artygus i found an closed issue, that i think it might relate to this issue https://github.com/google/ios-webkit-debug-proxy/issues/15

Do you think this is the same problem?

[2017-06-22 22:06] artygus commented on #206
@mare1012 I'm not sure, the issue is quite old and doesn't reference any concrete commits

[2017-06-27 07:20] mare1012 commented on #206
Hi @artygus do you have any update on this issue?

[2017-06-28 08:17] artygus commented on #208
Latest stable Safari on Sierra gives the same result, device appears and disappears in a moment. The tool also reports disconnect with applied patch to libimobiledevice I mentioned above .

[2017-07-02 13:35] janpio commented on #198
Any update on this?

[2017-07-03 15:12] mansis1516 opened #212 "iOS 11 :: Could not connect to lockdownd. Exiting.: Undefined error: 0"
I am getting the below error while executing the below command on iOS 11 Beta device with XCode 9 Beta.
$ ios_webkit_debug_proxy -c <UDID>:27753 -d

Error:
Could not connect to lockdownd. Exiting.: Undefined error: 0
Unable to attach <UDID> inspector

Can any one please help in this regard. Thanks !!

[2017-07-03 15:20] artygus commented on #212
hi @mansis1516 the issue related to libimobiledevice, please see https://github.com/google/ios-webkit-debug-proxy/issues/208#issuecomment-309710128

[2017-07-03 15:20] #212 closed

[2017-07-04 11:59] nadavva commented on #208
We tried to run compile the code over ios11-supporting-libimobiledevice (== the device is identifies and the commands are working) and ios-webkit-debug-proxy still failing...

[2017-07-05 07:53] artygus commented on #206
hi @mare1012, on Sierra I have same results, run 50 times in a row, no sign of the issue you mentioned 😞

[2017-07-05 08:09] mare1012 commented on #206
hi @artygus do you also using iPhone 6s  with version 10.3.1? i think this is the same problem [165](https://github.com/google/ios-webkit-debug-proxy/issues/165). I have tried to build from HEAD but it doesn't work.

[2017-07-05 08:27] artygus commented on #206
no I didn't run the script on iphone 6s with 10.3.1 exactly, but I did on 5s, 6 and 7 and even iPad with 10.3.1, 10.3.2 and 10.3.3 - no luck. what else could be different in your setup?

[2017-07-05 11:04] mare1012 commented on #206
i also run the script iPad Air 2 10.3.1. But the same problem still happens. And my mac mini will be connected through LAN.

[2017-07-05 13:24] wendywenwen opened #213 "cannot recognize multi iOS simulators when i run two simulator instances!"
I open two two simulator instances(iphone 7 and iphone 6s , both iOS 10.3), and my xcode is 8.3.3 , when I run ios_webkit_debug_proxy , the device list only include physical devices and only one simulator, so I want to know if the ios_webkit_debug_proxy  tool support multi iOS simulators?
![image](https://user-images.githubusercontent.com/20834531/27866681-d94e5cbc-61c9-11e7-981d-45f2970df49c.png)

[2017-07-05 13:41] artygus commented on #213
I believe only one webinspector instance at a time can be exposed for debugging from simulator. So the answer is no, I can't find any official docs on this topic though. Similar unsolved issue https://github.com/facebook/FBSimulatorControl/issues/12. I'm closing this now as multiple simulator instances running on same machine was never supported and Safari can also see only one simulator

[2017-07-05 13:41] #213 closed

[2017-07-24 12:37] AnuKadloor commented on #212
Hi @mansis1516 were you able to resolve the issue?
I'm also facing the same issue on iOS 11.
None of the libimobiledevice commands are working.
I tried updating it from HEAD but I'm still facing this error.

[2017-07-24 13:16] AnuKadloor commented on #208
I am getting the below error while executing the below command on iOS 11 Beta device with XCode 8.3.3.
$ ios_webkit_debug_proxy -c <decideId>:27753 -d

Error:
Could not connect to lockdownd. Exiting.: Undefined error: 0
Unable to attach inspector

Can any one please help in this regard.
Thanks !!

[2017-07-25 11:22] AnuKadloor commented on #212
I was able to resolve the issue by cloning the libimobiledevice project from GitHub and then implementing the patch mentioned in below URL:-
https://gist.github.com/nikias/b351bf633d62703e0ff4f2fee9628401

[2017-07-25 11:23] AnuKadloor commented on #208
I was able to resolve the issue by cloning the libimobiledevice project from GitHub and then implementing the patch mentioned in below URL:-
https://gist.github.com/nikias/b351bf633d62703e0ff4f2fee9628401

[2017-07-26 12:00] AnuKadloor commented on #208
@artygus
On executing ios-debug-webkit-proxy on MAC Siera terminal, my iphone 6 (iOS 11 beta 2) is listed when I go to localhost:9221 in my browser; however it does not display any pages under the 'Inspectable pages for iPhone:' section.
I suspect due to this, appium is unable to switch to webview context of my app.
Can you let me know if this is an issue or am I missing some configuration?

ios-d

[2017-07-26 12:12] artygus commented on #208
hi @AnuKadloor at this point utility doesn't support iOS 11. Even latest Safari on Sierra doesn't allow you to inspect pages of iOS 11 devices. However, on High Sierra I was able to inspect devices with iOS 11. I suspect there're certain changes in usbmuxd protocol, the issue need further investigation.

[2017-07-26 12:37] AnuKadloor commented on #208
Thanks for the quick reply @artygus
Any idea by when we can expect a fix for this?

PS: I'm able to inspect pages of iOS 11 devices on my Mac Sierra 10.12.6 with Safari 11.0

[2017-07-26 15:42] artygus commented on #208
oh cool, Safari 11 Beta was only available on Sierra, look's stable works even on El Captain. I can't make any promises, but any help in investigation would be greatly appreciated 🙂

[2017-07-27 05:30] AnuKadloor commented on #208
👍
I can try and help 🙂
Hopefully we'll get a fix for this ASAP!
Will update here if I come across anything else.

[2017-07-29 14:25] Alleno opened #214 "Problem installing on Ubuntu 16.04"
I'm having trouble installing this on Ubuntu 16.04 following the instructions. I'm getting the following error:

No package 'libimobiledevice-1.0' found

Consider adjusting the PKG_CONFIG_PATH environment variable if you
installed software in a non-standard prefix.

Alternatively, you may set the environment variables libimobiledevice_CFLAGS
and libimobiledevice_LIBS to avoid the need to call pkg-

[2017-07-29 18:00] artygus commented on #214
hi @Alleno can you confirm you have libimobiledevice package installed?

[2017-07-30 13:21] Alleno commented on #214
I apparently have libimobiledevice6 installed (it shows as installed in ubuntu software center). I also tried installing from here: https://github.com/libimobiledevice/libimobiledevice, but I get the following error:

...
checking consistency of all components of python development environment... no
configure: error:
  Could not link test program to Python. Maybe the main Python library has been

[2017-07-30 17:04] artygus commented on #214
you could try try configure with `--without-cython` flag

[2017-08-02 14:34] laurennlam opened #215 "iPhone with iOS 10 doesn't recognize"
I tried to link my iPhone 7 (with iOS 10.3) to the firefix WebIDE in order to debug a website. Unfortunately, it seems that valence doesn't manage to connect to it. Firefox WebIDE doesn't  doesn't display the device. Contrary to the device with iOS 9.1 which works.
Here are the configurations :
- Windows 7
- Connected iPhone : iOS 10.3
- ios-webkit-debug-proxy.Exe comes from [sourceforge ](https:/

[2017-08-02 15:24] artygus commented on #215
are you certain that valence ships latest binaries? latest commit (https://github.com/mozilla/valence) is made on Jan 27 or did you update iwdp binary manually? anyways, what does ios-webkit-debug-proxy -V show?

[2017-08-03 07:16] laurennlam commented on #215
I think that the valence is automatically installed when the latest version of firefox is installed. I think it ships latest binaries automatically, doesn't it ?

ios-webkit-debug-proxy -V shows:

I'm a beginner in web and I'm not sure to understand how it works. But does it mean that the device needs to be connected on port 9221 ? For example http://x.x.x.x/9221 ?

[2017-08-03 07:21] artygus commented on #215
@laurennlam  unofrtunately binaries are outdated, v. 1.7.1 supports -V flag, to make things work you could replace everything in c:\Users\laula_000\Downloads\ios-webkit-debug-proxy-win64 (1)\ios-webkit-debug-proxy-win32\ios_webkit_debug_proxy.exe with files extracted from https://sourceforge.net/projects/ios-webkit-debug-proxy-win32/files/v1.7.1/

[2017-08-03 07:23] laurennlam commented on #215
@artygus , it's the link I used to download and unzip the current ios-webkit-debug-proxy :/

[2017-08-03 07:30] artygus commented on #215
disregard previous message, I thought patch you specified is valence path to binaries.
I just double-cheked bianries at sf, and it certainly 1.7.1 and it supports "-V" flag. Could you please re-downlaod it from [this](https://downloads.sourceforge.net/project/ios-webkit-debug-proxy-win32/v1.7.1/ios-webkit-debug-proxy-1.7.1-x64-bin.zip) link

[2017-08-03 07:36] laurennlam commented on #215
Thanks, this version seems better. Here is what it's display when I launched the executable with "-V" option:

[2017-08-03 07:38] artygus commented on #215
okay, now you need to place the contents of that folder to the place where valence keeps win iwdp binaries

[2017-08-03 07:46] laurennlam commented on #215
That something I didn't know.
As I understand, Valence is an add-on of firefox. I checked and I have the 0.3.7 version. But how do you know where valence keeps win iwdp binaries ?

[2017-08-03 10:18] laurennlam commented on #215
@artygus  I tried by launching the ios-webkit-debug-proxy.exe (without moving it as you advised) then, open Firefox WebIDE and instead of choosing "Safari, Firefox, and other..." I chose "chrome Desktop" and it works... I don't know why. I followed this tutorial : http://syntaxwarriors.com/p/17/Debug-Safari-on-iOS-using-Windows-10-and-Firefox
I hope it will continue to work.
Thank you very much fo

[2017-08-03 10:18] #215 closed

[2017-08-03 10:32] artygus commented on #215
I'm sorry I'm not aware of how firefox manages it's plugins, etc. Anyways, glad you managed to work it out, I think it works because iwdp exposes first founds device to 9222 and Firefox WebIDE expects chrome desktop also on 9222 (at least from docs https://developer.mozilla.org/en-US/docs/Tools/Remote_Debugging/Chrome_Desktop)

[2017-08-03 12:37] AnuKadloor commented on #208
Hey...any updates on this issue?

[2017-08-05 09:31] artygus commented on #208
@AnuKadloor yes, looks like ios 11 doesn't support partial plist's, I'm thinking about workaround atm

[2017-08-07 07:57] fabianaapateanu commented on #208
Hei guys, any updates on this issue? Many thanks!

[2017-08-07 10:18] artygus commented on #208
@AnuKadloor @fabianaapateanu please check out the [ios11_support](https://github.com/google/ios-webkit-debug-proxy/tree/ios11_support) branch. You still need to apply patch to libimobiledevice or device handshake would fail, see comment [above](https://github.com/google/ios-webkit-debug-proxy/issues/208#issuecomment-309710128) for details

[2017-08-07 20:04] NOTtheMessiah opened #216 "Doesn't accept environment variables in a shell."
I try to write `UDID=694f5320697320612050495441 ios_webkit_debug_proxy -c $UDID:27753 -d` and it fails. Output:

[code]

I was able to circumvent the error for now by making command string before evaluating it.

    eval "ios_webkit_debug_proxy -c $UDID:27753 -d"

Output of `bash --version`:

_GNU bash, version 3.2.57(1)-release (x86_64-apple-darwin16)_

[2017-08-07 21:11] artygus commented on #216
it's you shell that works this way, it's not related to utility implementation

[2017-08-07 21:11] #216 closed

[2017-08-08 06:33] AnuKadloor commented on #208
Thanks for the fix @artygus.

[2017-08-09 06:42] mayureshshirodkar commented on #208
@artygus i installed the branch you created for the iOS 11 fix and it seems to be working fine.
By when can we expect the patch, on the main branch ?